                <div class="" style="max-width: 1200px;">

                    <h5 class="card-title">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Usein kysytyt kysymykset (FAQ)</font>
                        </font>
                    </h5>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">1. Mikä on tämän työkalupakin tarkoitus?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Quantifarm-työkalupakin tavoitteena on tarjota tietoa erilaisten maatalouden digitaalisten ratkaisujen ominaisuuksista ja osoitetusta suorituskyvystä. Sen tavoitteena on antaa maatilojen neuvojille lisätietoa ja -taitoja, jotta he voivat tehokkaasti neuvoa viljelijöitä maatalouden digitaalisten työkalujen/ratkaisujen (DATS) valinnassa, käyttöönotossa ja soveltamisessa.
                            </font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">2. Ovatko digitaaliset ratkaisut mukana työkalupakkissa markkinointitarkoituksia varten?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Ei, tämän työkalupakin digitaalisista ratkaisuista annetut tiedot eivät ole kaupallisia/markkinointitarkoituksia varten. Tavoitteenamme on tiedottaa ratkaisuista käyttäjille ja auttaa heitä tekemään tietoon perustuvia päätöksiä heidän tarpeitaan, prioriteettejaan ja vaatimuksiaan vastaavien digitaalisten ratkaisujen valinnassa.
                            </font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">3. Miten suositukset ja kustannus-hyötytulokset on tuotettu?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Työkalupaketissa esitetyt suositukset ja kustannus-hyötytulokset perustuvat julkisesti saatavilla olevaan tietoon eri lähteistä. Niitä ovat tieteelliset artikkelit, tutkimustulokset ja yrityksen tuotetiedot. Ne eivät edusta henkilökohtaisia ??arvioita eivätkä ole tuloksia varsinaisista pilottikokeista.
                            </font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">4. Mitä QuantiFarm-testitapaukset ovat?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Työkalupakki sisältää 40 DATSin valikoiman, joita sovellettiin, testattiin ja arvioitiin QuantiFarm-testitapauksissa eli käytännön tiloilla. Digitaalisia työkaluja koskevat tulokset on saatu kolmen peräkkäisen kasvukauden aikana suoritetuista arvioinneista tietyillä viljelykasveilla ja maantieteellisissä olosuhteissa, mikä lisää tulosten luotettavuutta. Arviot perustuvat osallistuvien tilojen antamiin tietoihin. QuantiFarmissa käytetyt DATSit on merkitty projektin logolla, jotta ne on helppo tunnistaa.
                            </font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">5. Voinko luottaa työkalupakin tietoihin ostopäätöksiä tehdessäni?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Vaikka työkalupakki toimii hyödyllisenä oppaana, on tärkeää tehdä lisätutkimuksia ja harkita erityisvaatimuksiasi ennen ostopäätösten tekemistä. Työkalusarja on tarkoitettu täydentämään päätöksentekoprosessiasi, ei toimimaan sen ainoana perustana.
                            </font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">6. Kuinka usein työkalupakin tiedot päivitetään?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Päivityksiä tulee ajoittain, kun uutta dataa tuodaan alustaan, jolloin DATSien valikoima laajenee. Lisäksi QuantiFarm-testitiloilla meneillään olevien ja tulevien kokeilujen tuloksia sisällytetään työkalupakkiin jatkuvasti. Sinne lisätään&nbsp;uusia digitaalisia ratkaisuja myös suoraan teknologian tarjoajien toimesta. Käyttäjiä kehotetaan tarkistamaan säännöllisesti uusimmat tiedot.
                            </font>
                        </font>
                    </p>

                    <br>
                </div>
