                <div class="" style="max-width: 1200px;">

                    <h5 class="card-title">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Veelgestelde vragen (FAQ)</font>
                        </font>
                    </h5>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">1. Wat is het doel van deze toolkit?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                De Quantifarm toolkit is bedoeld om informatie te verstrekken over de eigenschappen en behaalde prestaties van verschillende soorten digitale oplossingen voor de landbouwsector. Het is bedoeld om landbouwadviseurs te voorzien van aanvullende kennis en vaardigheden om boeren effectief te adviseren over de selectie, opname en toepassing van DATS.
                            </font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">2. Zijn de digitale oplossingen in de toolkit opgenomen voor marketingdoeleinden?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Nee, de informatie over digitale oplossingen in deze toolkit is niet bedoeld voor commerciële/marketingdoeleinden. Ons doel is om gebruikers te informeren en hen te helpen weloverwogen beslissingen te nemen met betrekking tot de selectie van digitale oplossingen die overeenkomen met hun behoeften, prioriteiten en kenmerken.
                            </font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">3. Hoe worden aanbevelingen en kosten-batenresultaten geproduceerd?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                De aanbevelingen en kosten-batenresultaten die in de toolkit worden gepresenteerd, zijn gebaseerd op openbaar beschikbare informatie uit verschillende bronnen, waaronder wetenschappelijke artikelen, onderzoeksresultaten en productgegevens van bedrijven. Ze vertegenwoordigen geen persoonlijke beoordelingen of resultaten van daadwerkelijke pilootproeven.
                            </font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">4. Wat zijn de QuantiFarm Test Cases?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                De toolkit bevat een reeks van 40 DATS, die werden toegepast, getest en beoordeeld binnen de QuantiFarm Test Cases. Deze oplossingen zijn gekoppeld aan specifieke resultaten die zijn afgeleid van beoordelingen die zijn uitgevoerd gedurende drie opeenvolgende groeiperioden in specifieke gewassen en geografische omstandigheden, waardoor de validiteit wordt vergroot. Beoordelingen zijn gebaseerd op gegevens die zijn verstrekt door deelnemende boerderijen. De DATS die in QuantiFarm worden toegepast, worden aangegeven met het logo van het project voor eenvoudigere identificatie.
                            </font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">5. Kan ik op de informatie in de toolkit vertrouwen bij het nemen van aankoopbeslissingen?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Hoewel de toolkit een handige gids is, is het belangrijk om verder onderzoek te doen en uw specifieke vereisten te overwegen voordat u een aankoopbeslissing neemt. De toolkit is bedoeld om uw besluitvormingsproces aan te vullen, niet om als enige basis hiervoor te dienen.
                            </font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">6. Hoe vaak wordt de informatie in de toolkit bijgewerkt?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Updates zullen periodiek plaatsvinden naarmate nieuwe data in het platform worden geïntegreerd, waardoor de inventaris van de DATS wordt uitgebreid met nieuwe oplossingen. Bovendien zullen resultaten van lopende en komende proeven in de context van QuantiFarm Test Cases continu worden opgenomen, en nieuwe digitale oplossingen worden rechtstreeks door technologieproviders toegevoegd. Gebruikers worden aangemoedigd om regelmatig terug te komen voor de laatste informatie.
                            </font>
                        </font>
                    </p>

                    <br>
                </div>
