                <div class="" style="max-width: 1200px;">

                    <h5 class="card-title">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Често постављана питања (ФАК)</font>
                        </font>
                    </h5>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">1. Која је сврха овог комплета алата?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Комплет алата КвантиФарм има за циљ да пружи информације о својствима и постигнутим перформансама различитих типова дигиталних решења за пољопривредни сектор. Има за циљ да оснажи пољопривредне саветодавце додатним знањем и вештинама у циљу ефикасног саветовања пољопривредних произвођача у вези са одабиром, усвајањем и применом дигиталних технологија у пољопривреди.
                            </font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">2. Да ли су дигитална решења представљена у комплету алата у маркетиншке сврхе?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Не, информације о дигиталним решењима у овом комплету алата нису у комерцијалне/маркетиншке сврхе. Наш циљ је да информишемо кориснике и помогнемо им да донесу информисане одлуке у вези са избором дигиталних решења која одговарају њиховим потребама, приоритетима и карактеристикама.
                            </font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">3. Како се долази до препорука и резултата трошкова и користи?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Препоруке и резултати трошкова и користи представљени у комплету алата засновани су на јавно доступним информацијама из различитих извора укључујући научне чланке, налазе истраживања и податке о производима компанија. Они не представљају никакве личне процене или резултате стварних пилот испитивања.
                            </font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">4. Шта су КвантиФарм тест случајеви?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Комплет алата садржи низ од 40 дигиталних технологија у пољопривреди, који су примењени, тестирани и процењени у оквиру КвантиФарм тест случајева. Ова решења су повезана са специфичним резултатима добијеним из процена спроведених током три узастопне производне сезоне за одређене усеве и географске услове, чиме се обезбеђује повећана валидност. Процене су засноване на подацима добијеним од произвођача који учествују у пројекту. Дигиталне технологије у пољопривреди које су примењене у КвантиФарму означене су логотипом пројекта ради лакше идентификације.
                            </font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">5. Да ли се могу ослонити на информације у комплету алата за доношење одлука о куповини?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Иако комплет алата служи као користан водич, важно је спровести даље истраживање и размотрити своје специфичне захтеве пре него што донесете било какву одлуку о куповини. Комплет алата је намењен да допуни ваш процес доношења одлука, а не да служи као једина основа за њега.
                            </font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">6. Колико често се ажурирају информације у комплету алата?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Ажурирања ће се дешавати периодично како се нови подаци интегришу у платформу, проширујући инвентар дигиталних технологија у пољопривреди новим решењима. Поред тога, резултати текућих и предстојећих испитивања у контексту КвантиФарм тест случајева ће се континуирано инкорпорирати, а нова дигитална решења додају директно добављачи технологије. Корисницима се препоручује да редовно проверавају најновије информације.
                            </font>
                        </font>
                    </p>

                    <br>
                </div>
