                <div class="" style="max-width: 1200px;">

                    <h5 class="card-title">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Pogosto zastavljena vprašanja (FAQ)</font>
                        </font>
                    </h5>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">1. Kaj je namen tega kompleta orodij?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Namen orodja Quantifarm je zagotoviti informacije o lastnostih in doseženi učinkovitosti različnih vrst digitalnih rešitev za kmetijski sektor. Njegov namen je oplemenititi kmetijske svetovalce z dodatnimi znanji in veščinami za učinkovito svetovanje kmetom glede izbire, sprejemanja in uporabe DATS-ov.
                            </font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">2. Ali so digitalne rešitve predstavljene v kompletu orodij za namene trženja?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Niso predstavljene.&nbsp;Informacije o digitalnih rešitvah v tem kompletu orodij niso za komercialne/tržne namene. Naš cilj je informirati uporabnike in jim pomagati sprejemati premišljene odločitve pri izbiri digitalnih rešitev, ki ustrezajo njihovim potrebam, prioritetam in lastnostim.
                            </font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">3. Kako nastanejo priporočila in rezultati glede stroškov?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Priporočila in rezultati glede stroškov, predstavljeni v kompletu orodij, temeljijo na javno dostopnih informacijah iz različnih virov, vključno z znanstvenimi članki, ugotovitvami raziskav in podatki o izdelkih podjetja. Ne predstavljajo osebnih ocen ali rezultatov dejanskih pilotnih poskusov.
                            </font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">4. Kaj so testni primeri QuantiFarm?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Komplet orodij vsebuje vrsto 40 DATS-ov, ki so bili uporabljeni, testirani in ocenjeni v okviru testnih primerov QuantiFarm. Te rešitve so povezane s posebnimi rezultati, pridobljenimi iz ocen, izvedenih v treh zaporednih rastnih obdobjih, za določene pridelke in geografske razmere, s čimer zagotavljajo večjo veljavnost. Ocene temeljijo na podatkih sodelujočih kmetij. DATS-i, uporabljeni v QuantiFarmu, so označeni z logotipom projekta za lažjo identifikacijo.
                            </font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">5. Ali se lahko pri odločanju o nakupu zanesem na informacije v kompletu orodij?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Čeprav je zbirka orodij koristen vodnik, je pomembno, da opravite nadaljnje raziskave in upoštevate svoje posebne zahteve, preden se odločite za nakup. Zbirka orodij je namenjena v pomoč&nbsp;vašemu postopku odločanja in ne kot edina osnova zanj.
                            </font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">6. Kako pogosto se posodabljajo informacije v kompletu orodij?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Posodobitve se bodo izvajale občasno, ko bodo novi podatki integrirani v platformo, s čimer se bo inventar DATS-ov razširil z novimi rešitvami. Poleg tega bodo stalno vključeni rezultati tekočih in prihajajočih preskušanj v kontekstu testnih primerov QuantiFarm, nove digitalne rešitve pa dodajajo neposredno ponudniki tehnologije. Uporabnike spodbujamo, da redno spremljajo najnovejše informacije.
                            </font>
                        </font>
                    </p>

                    <br>
                </div>
