                <div class="" style="max-width: 1200px;">

                    <h5 class="card-title lh-lg">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Συχνές Ερωτήσεις (FAQ)</font>
                        </font>
                    </h5>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">1. Ποιος είναι ο σκοπός αυτής της εργαλειοθήκης;</font>
                        </font>
                    </h5>
                    <p>
                        Η εργαλειοθήκη QuantiFarm στοχεύει να παρέχει πληροφορίες σχετικά με τις ιδιότητες και τις επιδόσεις διαφόρων τύπων λύσεων ψηφιακής γεωργίας. Στόχος της είναι να ενδυναμώσει τους αγροτικούς συμβούλους με πρόσθετες γνώσεις και δεξιότητες, ώστε να μπορούν να συμβουλεύουν αποτελεσματικά τους αγρότες για την επιλογή, την αποδοχή και την εφαρμογή των DATSs.
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">2. Οι ψηφιακές λύσεις που περιλαμβάνονται στην εργαλειοθήκη προορίζονται για σκοπούς μάρκετινγκ;</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            Όχι, οι πληροφορίες που παρέχονται για τις ψηφιακές λύσεις σε αυτήν την εργαλειοθήκη δεν προορίζονται για εμπορικούς ή μάρκετινγκ σκοπούς. Στόχος μας είναι να ενημερώσουμε τους χρήστες και να τους βοηθήσουμε να λάβουν καλά ενημερωμένες αποφάσεις σχετικά με την επιλογή ψηφιακών λύσεων που ανταποκρίνονται στις ανάγκες, τις προτεραιότητες και τα χαρακτηριστικά τους<font style="vertical-align: inherit;">
                                .
                            </font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">3. Πώς παράγονται οι συστάσεις και τα αποτελέσματα κόστους-οφέλους;</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            Οι συστάσεις και τα αποτελέσματα κόστους-οφέλους που παρουσιάζονται στην εργαλειοθήκη βασίζονται σε δημόσια διαθέσιμες πληροφορίες από διάφορες πηγές, όπως επιστημονικά άρθρα, ευρήματα έρευνας και δεδομένα προϊόντων από εταιρείες. Δεν αντιπροσωπεύουν προσωπικές εκτιμήσεις ή αποτελέσματα από πραγματικές πιλοτικές δοκιμές<font style="vertical-align: inherit;">.</font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">4. Ποια είναι τα πιλοτικά (Test Cases) του έργου QuantiFarm;</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            Η εργαλειοθήκη περιλαμβάνει μια σειρά 40 ψηφιακών λύσεων γεωργίας (DATSs) που εφαρμόστηκαν, δοκιμάστηκαν και αξιολογήθηκαν στο πλαίσιο των πιλοτικών του QuantiFarm (QuantiFarm Test Cases). Αυτές οι λύσεις συνδέονται με συγκεκριμένα αποτελέσματα που προέρχονται από αξιολογήσεις που πραγματοποιήθηκαν σε τρεις διαδοχικές περιόδους καλλιέργειας, σε συγκεκριμένες καλλιέργειες και γεωγραφικές συνθήκες, παρέχοντας έτσι αυξημένη εγκυρότητα. Οι αξιολογήσεις βασίζονται σε δεδομένα που παρέχονται από τις συμμετέχουσες αγροτικές εκμεταλλεύσεις. Τα DATSs που εφαρμόζονται στο QuantiFarm υποδεικνύονται με το λογότυπο του έργου για ευκολότερη αναγνώριση<font style="vertical-align: inherit;">
                                .
                            </font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">5. Μπορώ να βασιστώ στις πληροφορίες της εργαλειοθήκης για τη λήψη αποφάσεων σχετικά με την αγορά τους; </font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            Ενώ η εργαλειοθήκη μπορεί να αξιοποιηθεί ως χρήσιμος οδηγός, είναι σημαντικό να διεξάγετε περαιτέρω έρευνα και να λάβετε υπόψη τις συγκεκριμένες απαιτήσεις σας πριν λάβετε οποιεσδήποτε αποφάσεις αγοράς. Η εργαλειοθήκη προορίζεται να συμπληρώσει τη διαδικασία λήψης αποφάσεων και όχι να χρησιμεύσει ως η μόνη βάση για αυτήν<font style="vertical-align: inherit;">
                                .
                            </font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">6. Πόσο συχνά ενημερώνονται οι πληροφορίες της εργαλειοθήκης;</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            Οι πληροφορίες ενημερώνονται περιοδικά, καθώς νέα δεδομένα ενσωματώνονται στην πλατφόρμα και το αποθετήριο των DATSs εμπλουτίζεται με νέες λύσεις. Επιπλέον, τα αποτελέσματα από τις τρέχουσες και τις επερχόμενες δοκιμές στο πλαίσιο των πιλοτικών του QuantiFarm θα ενσωματώνονται συνεχώς, ενώ νέες ψηφιακές λύσεις προστίθενται απευθείας από τους παρόχους τεχνολογίας. Οι χρήστες ενθαρρύνονται να ελέγχουν τακτικά για τις πιο πρόσφατες πληροφορίες<font style="vertical-align: inherit;">
                                .
                            </font>
                        </font>
                    </p>

                    <br>
                </div>
