                <div class="" style="max-width: 1200px;">

                    <h5 class="card-title">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Questions fréquemment posées (FAQ)</font>
                        </font>
                    </h5>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">1. Quel est le but de cette boîte à outils ?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                La boîte à outils Quantifarm vise à fournir des informations sur les propriétés et les performances obtenues de divers types de solutions numériques pour le secteur agricole. Elle vise à doter les conseillers agricoles de connaissances et de compétences supplémentaires pour conseiller efficacement les agriculteurs sur la sélection, l'adoption et l'application des STDA.
                            </font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">2. Les solutions numériques présentées dans la boîte à outils y sont-elles à des fins de marketing ?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Non, les informations fournies sur les solutions numériques dans cette boîte à outils ne sont pas destinées à des fins commerciales ou de marketing. Notre objectif est d'informer les utilisateurs et de les aider à prendre des décisions éclairées concernant le choix de solutions numériques qui correspondent à leurs besoins, priorités et caractéristiques.
                            </font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">3. Comment sont produits les recommandations et les résultats en termes de coûts-bénéfices ?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Les recommandations et les résultats de l'analyse coûts-bénéfices présentés dans la boîte à outils sont basés sur des informations publiquement accessibles provenant de diverses sources, notamment des articles scientifiques, des résultats de recherche et des données sur les produits des entreprises. Ils ne représentent aucune évaluation ou résultats personnels d'essais pilotes réels.
                            </font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">4. Quels sont les cas d'usage QuantiFarm&nbsp;?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                La boîte à outils comprend une gamme de 40 STDA, qui ont été utilisées, testés et évalués dans le cadre des cas d'usage QuantiFarm. Ces solutions sont liées à des résultats spécifiques issus d'évaluations menées sur trois périodes de production consécutives dans des cultures et des conditions géographiques particulières, ce qui offre une validité accrue. Les évaluations sont basées sur les données fournies par les exploitations participantes. Les STDA appliquées dans QuantiFarm sont indiquées avec le logo du projet pour une identification plus facile.
                            </font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">5. Puis-je me fier aux informations contenues dans la boîte à outils pour prendre des décisions d’achat ?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Bien que la boîte à outils serve de guide pratique, il est important d'effectuer des recherches plus approfondies et de prendre en compte vos besoins spécifiques avant de prendre une décision d'achat. La boîte à outils est destinée à compléter votre processus de prise de décision, et non à en être la seule base.
                            </font>
                        </font>
                    </p>

                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">6. À quelle fréquence les informations contenues dans la boîte à outils sont-elles mises à jour ?</font>
                        </font>
                    </h5>
                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Des mises à jour seront effectuées périodiquement au fur et à mesure que de nouvelles données seront intégrées à la plateforme, élargissant ainsi l'inventaire des DATS avec de nouvelles solutions. De plus, les résultats des essais en cours et à venir dans le cadre des cas d'usage QuantiFarm seront continuellement intégrés et de nouvelles solutions numériques seront ajoutées directement par les fournisseurs de technologie. Les utilisateurs sont encouragés à consulter régulièrement les dernières informations.
                            </font>
                        </font>
                    </p>

                    <br>
                </div>
