                <div class="" style="max-width: 1200px;">
                    <div class="d-flex pt-3">
                        <div class="pt-4">
                            <h1>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Καλώς ορίσατε στην<br>Εργαλειοθήκη του έργου QuantiFarm</font>
                                </font>
                            </h1>

                            <h5 class="pt-4">
                                To έργο&nbsp;<a href="https://quantifarm.eu/" target="_blank">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">QuantiFarm</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    υποστηρίζει την ανάπτυξη και υιοθέτηση των λύσεων ψηφιακής γεωργίας (DATSs) ως βασικοί παράγοντες για τη βελτίωση της απόδοσης, βιωσιμότητας και ανταγωνιστικότητας του γεωργικού τομέα<font style="vertical-align: inherit;">.</font>
                                </font>
                            </h5>
                        </div>
                        <img class="d-none d-md-block" src="assets/img/bg2.png">
                    </div>

                    <div>
                        <p>
                            <font style="vertical-align: inherit;">
                                Η εργαλειοθήκη QuantiFarm χρησιμοποιεί δεδομένα και πληροφορίες για ένα μεγάλο εύρος λύσεων ψηφιακής γεωργίας (DATSs) που προέρχονται από τις ακόλουθες πηγές<font style="vertical-align: inherit;">:</font>
                            </font>
                        </p>
                        <ul>
                            <li>
                                <a href="https://fairshare-pnf.eu/" target="_blank">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Το απoθετήριο Fairshare</font>
                                    </font>
                                </a>
                                απαριθμεί περίπου 300 τεχνολογίες DATSs, οι οποίες παρατίθενται στο<a href="#" onclick="gotoTool(role_xx, 'tool1');return false;">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">εργαλείο Συστάσεων (Recommendation tool)</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> του QuantiFarm .</font>
                                </font>
                            </li>
                            <li>
                                • Ένα σύνολο περίπου 100 DATSs, που έχουν επιλεγεί βάσει της πιο πρόσφατης βιβλιογραφικής ανασκόπησης και χρησιμοποιείται από τον <a href="#" onclick="gotoTool(role_xx, 'tool2');return false;">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Υπολογιστή Κόστους και Οφέλους (Cost and Benefit calculators)</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">.</font>
                                </font>
                            </li>
                            <li>
                                • Ένα σύνολο DATSs που αξιολογείται με τη χρήση <a href="methodology.html">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">πλαισίου αξιολόγησης του έργου (QuantiFarm Assessment)</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">. Δείτε τα αποτελέσματα στην </font>
                                </font><a href="https://quantifarmtoolkit.eu/results.html">
                                    ενότητα των πιλοτικών (Test cases).
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="py-3">
                        <h5>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Ξεκινήστε να χρησιμοποιείτε τα εργαλεία QuantiFarm:</font>
                            </font>
                        </h5>
                        <div class="d-flex align-items-center">
                            <div class="card align-items-center border border-2 border-light" style="width: 160px; margin: 10px; border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;">
                                <img src="assets/img/ico-farm.png" class="card-img-top" style="width: 100px;">
                                <div class="card-body px-0">
                                    <span class="card-title">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Γεωργός</font>
                                        </font>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <ul style="list-style-type: circle;">
                                    <li>
                                        <a href="#" onclick="gotoTool(role_fa, 'tool1');return false;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Εργαλείο συστάσεων (Recommendation tool)&nbsp;</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="gotoTool(role_fa, 'tool2');return false;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Υπολογιστές κόστους και οφέλους (Cost and Benefit calculators)</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="gotoTool(role_fa, 'tool3');return false;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Εργαλείο συγκριτικής αξιολόγησης (Benchmarking tool)</font>
                                            </font>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="card align-items-center border border-2 border-light" style="width: 160px; margin: 10px; border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;">
                                <img src="assets/img/ico-adv.png" class="card-img-top" style="width: 100px;">
                                <div class="card-body px-0">
                                    <span class="card-title">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Σύμβουλος</font>
                                        </font>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <ul style="list-style-type: circle;">
                                    <li>
                                        <a href="#" onclick="gotoTool(role_ad, 'tool1');return false;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Εργαλείο συστάσεων (Recommendation tool)</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="gotoTool(role_ad, 'tool2');return false;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Υπολογιστές κόστους και οφέλους (Cost and Benefit calcultors)</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="gotoTool(role_ad, 'tool3');return false;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Εργαλείο συγκριτικής αξιολόγησης (Benchmarking tool)</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="gotoTool(role_ad, 'tool5');return false;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Εργαλείο υποστήριξης προηγμένων αποφάσεων (Advanced decision Support tool)</font>
                                            </font>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="card align-items-center border border-2 border-light" style="width: 160px; margin: 10px; border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;">
                                <img src="assets/img/ico-poli.png" class="card-img-top" style="width: 100px;">
                                <div class="card-body px-0 text-center">
                                    <span class="card-title">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Υπεύθυνος Χάραξης Πολιτικής</font>
                                        </font>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <ul style="list-style-type: circle;">
                                    <li>
                                        <a href="#" onclick="gotoTool(role_pm, 'tool6');return false;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Εργαλείο παρακολούθησης πολιτικής (Policy Monitoring Tool)</font>
                                            </font>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="py-3">
                        <h5>
                            <font style="vertical-align: inherit;">
                                Είστε πάροχος κάποιας λύσης ψηφιακής γεωργίας<font style="vertical-align: inherit;">;</font>
                            </font>
                        </h5>
                        <p>
                            <font style="vertical-align: inherit;">
                                Είμαστε στην ευχάριστη θέση να ανακοινώσουμε ότι ο ηλεκτρονικός μας κατάλογος λύσεων ψηφιακής γεωργίας (Digital Agriculture Technology Solutions) διαθέτει πλέον φόρμα υποβολής για παρόχους τεχνολογίας. Αν προσφέρετε καινοτόμες τεχνολογικές λύσεις για τη γεωργία, σας προσκαλούμε <font style="vertical-align: inherit;"> να </font>
                            </font><a href="https://forms.gle/dL6N7Lnpmctoz94L8" target="_blank">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">μοιραστείτε μαζί μας τις λεπτομέρειες του προϊόντος σας</font>
                                </font>
                            </a>
                            για να συμπεριληφθεί στον ολοκληρωμένο κατάλογό μας και στα επιλεγμένα εργαλεία μας.
                        </p>
                        <p>
                            Με την εγγραφή σας στον κατάλογο των DATSs, θα συνδεθείτε με ένα ευρύ κοινό αγροτών και αγροτικών συμβούλων που αναζητούν ψηφιακά εργαλεία αιχμής για να βελτιώσουν τις εργασίες τους.
                        </p>
                        <p>
                            <a href="https://forms.gle/dL6N7Lnpmctoz94L8" target="_blank">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Απλώς συμπληρώστε τη φόρμα</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                με τις απαραίτητες πληροφορίες σχετικά με τη λύση ψηφιακής γεωργίας που προσφέρετε και θα εξετάσουμε την αίτησή σας ώστε να συμπεριληφθεί στο αποθετήριο της εργαλειοθήκης μας<font style="vertical-align: inherit;">
                                    .
                                </font>
                            </font>
                        </p>
                    </div>
                </div>
