                <div class="" style="max-width: 1200px;">
                    <div class="d-flex">
                        <div class="pt-4">
                            <h1>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Dobrodošli v</font>
                                </font>
                            </h1>
                            <h1>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">kompletu orodij QuantiFarm</font>
                                </font>
                            </h1>
                            <h5 class="pt-4">
                                <a href="https://quantifarm.eu/" target="_blank">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">QuantiFarm</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> podpira nadaljnjo uporabo tehnoloških rešitev digitalnega kmetijstva, kot ključnih dejavnikov za izboljšanje trajnostne uspešnosti in konkurenčnosti kmetijskega sektorja.</font>
                                </font>
                            </h5>
                        </div>
                        <img class="d-none d-md-block" src="assets/img/bg2.png">
                    </div>

                    <div>
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Komplet orodij QuantiFarm uporablja opise rešitev digitalne kmetijske tehnologije (DATS), pridobljene iz naslednjih virov:</font>
                            </font>
                        </p>
                        <ul>
                            <li>
                                <a href="https://fairshare-pnf.eu/" target="_blank">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Inventar Fairshare</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> , ki navaja približno 300 DAT-ov, ki jih uporablja </font>
                                </font><a href="#" onclick="gotoTool(role_xx, 'tool1');return false;">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">orodje za priporočila</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> podjetja QuantiFarm .</font>
                                </font>
                            </li>
                            <li>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Približno 100 DATS-ov, ki so bili ekstrahirani na podlagi pregleda najsodobnejših literatur in jih uporablja kalkulator </font>
                                </font><a href="#" onclick="gotoTool(role_xx, 'tool2');return false;">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">stroškov</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> .</font>
                                </font>
                            </li>
                            <li>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">DATS-i, ki so ovrednoteni z uporabo o</font>
                                </font><a href="methodology.html">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">rodja QuantiFarm Assessment</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> . Rezultate si lahko ogledate v </font>
                                </font><a href="results.html">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">razdelku Testni primeri</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> .</font>
                                </font>
                            </li>
                        </ul>
                    </div>

                    <div class="py-3">
                        <h5>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Začnite uporabljati orodja QuantiFarm:</font>
                            </font>
                        </h5>
                        <div class="d-flex align-items-center">
                            <div class="card align-items-center border border-2 border-light" style="width: 160px; margin: 10px; border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;">
                                <img src="assets/img/ico-farm.png" class="card-img-top" style="width: 100px;">
                                <div class="card-body px-0 text-center">
                                    <span class="card-title">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">kmet</font>
                                        </font>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <ul style="list-style-type: circle;">
                                    <li>
                                        <a href="#" onclick="gotoTool(role_fa, 'tool1');return false;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Orodje za priporočila</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="gotoTool(role_fa, 'tool2');return false;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Kalkulatorji stroškov</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="gotoTool(role_fa, 'tool3');return false;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Orodje za primerjalno analizo</font>
                                            </font>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="card align-items-center border border-2 border-light" style="width: 160px; margin: 10px; border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;">
                                <img src="assets/img/ico-adv.png" class="card-img-top" style="width: 100px;">
                                <div class="card-body px-0 text-center">
                                    <span class="card-title">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Svetovalec</font>
                                        </font>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <ul style="list-style-type: circle;">
                                    <li>
                                        <a href="#" onclick="gotoTool(role_ad, 'tool1');return false;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Orodje za priporočila</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="gotoTool(role_ad, 'tool2');return false;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Kalkulatorji stroškov</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="gotoTool(role_ad, 'tool3');return false;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Orodje za primerjalno analizo</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="gotoTool(role_ad, 'tool5');return false;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Napredno orodje za podporo odločanja</font>
                                            </font>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="card align-items-center border border-2 border-light" style="width: 160px; margin: 10px; border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;">
                                <img src="assets/img/ico-poli.png" class="card-img-top" style="width: 100px;">
                                <div class="card-body px-0 text-center">
                                    <span class="card-title">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Oblikovalec politike</font>
                                        </font>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <ul style="list-style-type: circle;">
                                    <li>
                                        <a href="#" onclick="gotoTool(role_pm, 'tool6');return false;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Orodje za spremljanje kmetijske politike</font>
                                            </font>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="py-3">
                        <h5>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Ali ste ponudnik DATS-a?</font>
                            </font>
                        </h5>
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Z veseljem sporočamo, da naš spletni brskalnik za tehnološke rešitve za digitalno kmetijstvo, zdaj vsebuje obrazece za oddajo za ponudnike tehnologije. Če ponujate inovativne tehnološke rešitve za kmetijstvo, vas vabimo, da </font>
                            </font><a href="https://forms.gle/dL6N7Lnpmctoz94L8" target="_blank">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">z nami delite podrobnosti o svojih izdelkih</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> za vključitev v naš obsežen katalog, v katerem so predstavljena orodja.</font>
                            </font>
                        </p>
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Če se pridružite našemu brskalniku DATS, se boste povezali s velikim številom kmetov in kmetijskih svetovalcev, ki iščejo vrhunska digitalna orodja za izboljšanje svojega delovanja. Ne zamudite te priložnosti, da predstavite svojo ponudbo!
                                </font>
                            </font>
                        </p>
                        <p>
                            <a href="https://forms.gle/dL6N7Lnpmctoz94L8" target="_blank">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Preprosto izpolnite obrazec</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    s potrebnimi podatki o vašem izdelku in pregledali bomo vašo predložitev za vključitev.
                                </font>
                            </font>
                        </p>
                    </div>
                </div>
