                <div class="" style="max-width: 1200px;">
                    <div class="d-flex">
                        <div class="pt-4">
                            <h1>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Welkom bij</font>
                                </font>
                            </h1>
                            <h1>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">QuantiFarm-toolkit</font>
                                </font>
                            </h1>
                            <h5 class="pt-4">
                                <a href="https://quantifarm.eu/" target="_blank">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">QuantiFarm</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> ondersteunt de verdere inzet van digitale technologische landbouwoplossingen als belangrijk hulpmiddel voor het verbeteren van de duurzaamheidsprestaties en het concurrentievermogen van de landbouw sector.</font>
                                </font>
                            </h5>
                        </div>
                        <img class="d-none d-md-block" src="assets/img/bg2.png">
                    </div>

                    <div>
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">De QuantiFarm-toolkit maakt gebruik van beschrijvingen van Digital Agricultural Technology Solutions (DATS) afkomstig uit de volgende bronnen:</font>
                            </font>
                        </p>
                        <ul>
                            <li>
                                <a href="https://fairshare-pnf.eu/" target="_blank">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">De Fairshare-inventaris</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> bevat ongeveer 300 DATS die worden gebruikt door </font>
                                </font><a href="#" onclick="gotoTool(role_xx, 'tool1');return false;">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">de aanbevelingstool</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> van QuantiFarm .</font>
                                </font>
                            </li>
                            <li>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Een set van ongeveer 100 DATS die zijn gevonden op basis van de nieuwste literatuurstudie en die worden gebruikt door de </font>
                                </font><a href="#" onclick="gotoTool(role_xx, 'tool2');return false;">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">kosten- en batencalculator</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> .</font>
                                </font>
                            </li>
                            <li>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Een set DATS die worden geëvalueerd met behulp van het </font>
                                </font><a href="methodology.html">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">QuantiFarm Assessment-framework</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> . Zie de resultaten in de </font>
                                </font><a href="results.html">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">sectie Testcases</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> .</font>
                                </font>
                            </li>
                        </ul>
                    </div>

                    <div class="py-3">
                        <h5>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Begin met het gebruiken van de QuantiFarm-tools:</font>
                            </font>
                        </h5>
                        <div class="d-flex align-items-center">
                            <div class="card align-items-center border border-2 border-light" style="width: 160px; margin: 10px; border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;">
                                <img src="assets/img/ico-farm.png" class="card-img-top" style="width: 100px;">
                                <div class="card-body px-0 text-center">
                                    <span class="card-title">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Boer</font>
                                        </font>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <ul style="list-style-type: circle;">
                                    <li>
                                        <a href="#" onclick="gotoTool(role_fa, 'tool1');return false;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Aanbevelingstool</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="gotoTool(role_fa, 'tool2');return false;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Kosten- en batencalculators</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="gotoTool(role_fa, 'tool3');return false;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Benchmarking-tool</font>
                                            </font>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="card align-items-center border border-2 border-light" style="width: 160px; margin: 10px; border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;">
                                <img src="assets/img/ico-adv.png" class="card-img-top" style="width: 100px;">
                                <div class="card-body px-0 text-center">
                                    <span class="card-title">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Adviseur</font>
                                        </font>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <ul style="list-style-type: circle;">
                                    <li>
                                        <a href="#" onclick="gotoTool(role_ad, 'tool1');return false;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Aanbevelingstool</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="gotoTool(role_ad, 'tool2');return false;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Kosten- en batencalculators</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="gotoTool(role_ad, 'tool3');return false;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Benchmarking-tool</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="gotoTool(role_ad, 'tool5');return false;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Geavanceerde tool voor beslissingsondersteuning</font>
                                            </font>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="card align-items-center border border-2 border-light" style="width: 160px; margin: 10px; border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;">
                                <img src="assets/img/ico-poli.png" class="card-img-top" style="width: 100px;">
                                <div class="card-body px-0 text-center">
                                    <span class="card-title">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Beleidsmaker</font>
                                        </font>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <ul style="list-style-type: circle;">
                                    <li>
                                        <a href="#" onclick="gotoTool(role_pm, 'tool6');return false;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Beleidsmonitoringtool</font>
                                            </font>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="py-3">
                        <h5>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Bent u DATS-aanbieder?</font>
                            </font>
                        </h5>
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">We zijn verheugd om aan te kondigen dat onze online gids voor Digital Agriculture Technology Solutions nu een indieningsformulier voor tech-providers bevat. Als u innovatieve technologische oplossingen voor de landbouw aanbiedt, nodigen we u uit om </font>
                            </font><a href="https://forms.gle/dL6N7Lnpmctoz94L8" target="_blank">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">uw productgegevens met ons te delen</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> voor opname in onze uitgebreide catalogus en aangeboden tools.</font>
                            </font>
                        </p>
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Door u aan te melden voor onze gids van DATS's, komt u in contact met een breed publiek van boeren en landbouwadviseurs die op zoek zijn naar geavanceerde digitale tools om hun activiteiten te verbeteren. Mis deze kans niet om uw aanbod te laten zien!
                                </font>
                            </font>
                        </p>
                        <p>
                            <a href="https://forms.gle/dL6N7Lnpmctoz94L8" target="_blank">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Vul het formulier in</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    met de benodigde informatie over uw product. Wij zullen uw inzending dan behandelen en beoordelen of deze in aanmerking komt.
                                </font>
                            </font>
                        </p>
                    </div>
                </div>
