                <div class="" style="max-width: 1200px;">
                    <div class="d-flex">
                        <div class="pt-4">
                            <h1>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Tervetuloa</font>
                                </font>
                            </h1>
                            <h1>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">QuantiFarm-työkalupakki-sivustolle (QuantiFarm Toolkit)</font>
                                </font>
                            </h1>
                            <h5 class="pt-4">
                                <a href="https://quantifarm.eu/" target="_blank">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">QuantiFarm</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> tukee maatalouden digitaalisten teknologiaratkaisujen käyttöönottoa. Digitaaliset työkalut ovat keskeisiä mahdollisia tekijöitä maatalousalan kestävän kehityksen ja kilpailukyvyn parantamiseksi.</font>
                                </font>
                            </h5>
                        </div>
                        <img class="d-none d-md-block" src="assets/img/bg2.png">
                    </div>

                    <div>
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    QuantiFarm-työkalupakki käyttää kuvauksia digitaalisista
                                    maatalouden teknologiaratkaisuista (DATS eli Digital Agricultural Technolgy Solutions), jotka on saatu seuraavista lähteistä:
                                </font>
                            </font>
                        </p>
                        <ul>
                            <li>
                                <a href="https://fairshare-pnf.eu/" target="_blank">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Fairshare-inventaari</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> , jossa luetellaan noin 300 DATSIta, joita QuantiFarmin </font>
                                </font><a href="#" onclick="gotoTool(role_xx, 'tool1');return false;">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">suositustyökalu</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> käyttää.</font>
                                </font>
                            </li>
                            <li>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Noin 100 DATSIn sarja, jotka on poimittu tuoreen kirjallisuuskatsauksen perusteella ja joita </font>
                                </font><a href="#" onclick="gotoTool(role_xx, 'tool2');return false;">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Kustannus- ja hyötylaskuri</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> käyttää.</font>
                                </font>
                            </li>
                            <li>
                                Joukko DATS-tietoja, jotka arvioidaan
                                <a href="methodology.html">
                                    QuantiFarm Assessment -kehyksen
                                </a>
                                avulla. Katso tulokset
                                <a href="results.html">
                                    Testitapaukset -osiosta.
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="py-3">
                        <h5>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Aloita QuantiFarm-työkalujen käyttö:</font>
                            </font>
                        </h5>
                        <div class="d-flex align-items-center">
                            <div class="card align-items-center border border-2 border-light" style="width: 160px; margin: 10px; border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;">
                                <img src="assets/img/ico-farm.png" class="card-img-top" style="width: 100px;">
                                <div class="card-body px-0 text-center">
                                    <span class="card-title">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Maanviljelijä</font>
                                        </font>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <ul style="list-style-type: circle;">
                                    <li>
                                        <a href="#" onclick="gotoTool(role_fa, 'tool1');return false;">
                                            Suositustyökalu
                                        </a> (Recommendations Tool)
                                    </li>
                                    <li>
                                        <a href="#" onclick="gotoTool(role_fa, 'tool2');return false;">
                                            Kustannus- ja hyötylaskurit
                                        </a> (Cost and Benefit Calculators)
                                    </li>
                                    <li>
                                        <a href="#" onclick="gotoTool(role_fa, 'tool3');return false;">
                                            Vertailutyökalu
                                        </a> (Benchmarking Tool)
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="card align-items-center border border-2 border-light" style="width: 160px; margin: 10px; border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;">
                                <img src="assets/img/ico-adv.png" class="card-img-top" style="width: 100px;">
                                <div class="card-body px-0 text-center">
                                    <span class="card-title">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Neuvonantaja</font>
                                        </font>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <ul style="list-style-type: circle;">
                                    <li>
                                        <a href="#" onclick="gotoTool(role_fa, 'tool1');return false;">
                                            Suositustyökalu
                                        </a> (Recommendations Tool)
                                    </li>
                                    <li>
                                        <a href="#" onclick="gotoTool(role_fa, 'tool2');return false;">
                                            Kustannus- ja hyötylaskurit
                                        </a> (Cost and Benefit Calculators)
                                    </li>
                                    <li>
                                        <a href="#" onclick="gotoTool(role_fa, 'tool3');return false;">
                                            Vertailutyökalu
                                        </a> (Benchmarking Tool)
                                    </li>
                                    <li>
                                        <a href="#" onclick="gotoTool(role_ad, 'tool5');return false;">
                                            Edistynyt päätöksenteon tukityökalu
                                        </a> (Advanced Decision Support Tool)
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="card align-items-center border border-2 border-light" style="width: 160px; margin: 10px; border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;">
                                <img src="assets/img/ico-poli.png" class="card-img-top" style="width: 100px;">
                                <div class="card-body px-0 text-center">
                                    <span class="card-title">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Politiikantekijä</font>
                                        </font>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <ul style="list-style-type: circle;">
                                    <li>
                                        <a href="#" onclick="gotoTool(role_ad, 'tool6');return false;">
                                            Politiikkaseurantatyökalu
                                        </a> (Policy Monitoring Tool)
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="py-3">
                        <h5>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Oletko DATS-palveluntarjoaja?</font>
                            </font>
                        </h5>
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Meillä on ilo ilmoittaa, että Digital Agriculture Technology Solutions -verkkohakemistossamme on nyt hakulomake teknologioiden toimittajille. Jos tarjoat innovatiivisia teknologiaratkaisuja maataloudelle, pyydämme sinua </font>
                            </font><a href="https://forms.gle/dL6N7Lnpmctoz94L8" target="_blank">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">jakamaan tuotetietosi kanssamme,</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> jotta voit sisällyttää ne kattavaan luetteloomme ja esiteltyihin työkaluihimme.</font>
                            </font>
                        </p>
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Liittymällä DATS-hakemistoomme saat yhteyden laajaan joukkoon maanviljelijöitä ja maatalousalan neuvojia, jotka etsivät huippuluokan digitaalisia työkaluja toimintansa parantamiseen. Älä ohita tilaisuutta esitellä tarjontaasi!
                                </font>
                            </font>
                        </p>
                        <p>
                            <a href="https://forms.gle/dL6N7Lnpmctoz94L8" target="_blank">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Täytä vain lomake</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    tarvittavilla tiedoilla tuotteestasi, niin saat tuotteesi mukaan DATS-hakemistoon lomakkeen tarkistuksen jälkeen.
                                </font>
                            </font>
                        </p>
                    </div>
                </div>
