                <div class="" style="max-width: 1200px;">
                    <div class="d-flex">
                        <div class="pt-4">
                            <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Добродошли у</font></font></h1>
                            <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">КvантиФарм-ов Сет Алата</font></font></h1>
                            <h5 class="pt-4"><a href="https://quantifarm.eu/" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">КвантиФарм</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> подржава даљу примену решења дигиталних пољопривредне технологија као кључних покретача за побољшање перформанси одрживости и конкурентности пољопривредног сектора.</font></font></h5>
                        </div>
                        <img class="d-none d-md-block" src="assets/img/bg2.png">
                    </div>

                    <div>
                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Сет алата КвантиФарм обједињује различита решења и описе дигиталних технологија у пољопривреди (ДАТС) из следећих извора:</font></font></p>
                        <ul>
                            <li><a href="https://fairshare-pnf.eu/" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fairshare инвентар</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> који садржи око 300 ДАТ-ова које користи КвантиФарм-ov </font></font><a href="#" onclick="gotoTool(role_xx, 'tool1');return false;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">алат за препоруке</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> .</font></font></li>
                            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Скуп од око 100 ДАТС који су издвојени на основу прегледа најновије литературе и који се користе у </font></font><a href="#" onclick="gotoTool(role_xx, 'tool2');return false;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">калкулатору трошкова и користи</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> .</font></font></li>
                            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Скуп ДАТС-а који су вредновани коришћењем </font></font><a href="methodology.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">КвантиФарм-овог оквира за процену</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> . Погледајте резултате у </font></font><a href="results.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">одељку са Тест случајевима</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> .</font></font></li>
                        </ul>
                    </div>

                    <div class="py-3">
                        <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Почните да користите КвантиФарм алате:</font></font></h5>
                        <div class="d-flex align-items-center">
                            <div class="card align-items-center border border-2 border-light" style="width: 160px; margin: 10px; border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;">
                                <img src="assets/img/ico-farm.png" class="card-img-top" style="width: 100px;">
                                <div class="card-body px-0 text-center">
                                    <span class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Фармер</font></font></span>
                                </div>
                            </div>
                            <div>
                                <ul style="list-style-type: circle;">
                                    <li><a href="#" onclick="gotoTool(role_fa, 'tool1');return false;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Алат за препоруке</font></font></a></li>
                                    <li><a href="#" onclick="gotoTool(role_fa, 'tool2');return false;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Калкулатори трошкова и користи</font></font></a></li>
                                    <li><a href="#" onclick="gotoTool(role_fa, 'tool3');return false;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Алат за бенчмаркинг</font></font></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="card align-items-center border border-2 border-light" style="width: 160px; margin: 10px; border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;">
                                <img src="assets/img/ico-adv.png" class="card-img-top" style="width: 100px;">
                                <div class="card-body px-0 text-center">
                                    <span class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Саветодавац</font></font></span>
                                </div>
                            </div>
                            <div>
                                <ul style="list-style-type: circle;">
                                    <li><a href="#" onclick="gotoTool(role_ad, 'tool1');return false;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Алат за препоруке</font></font></a></li>
                                    <li><a href="#" onclick="gotoTool(role_ad, 'tool2');return false;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Калкулатори трошкова и користи</font></font></a></li>
                                    <li><a href="#" onclick="gotoTool(role_ad, 'tool3');return false;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Алат за бенчмаркинг</font></font></a></li>
                                    <li><a href="#" onclick="gotoTool(role_ad, 'tool5');return false;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Напредна алатка за подршку одлучивању</font></font></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="card align-items-center border border-2 border-light" style="width: 160px; margin: 10px; border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;">
                                <img src="assets/img/ico-poli.png" class="card-img-top" style="width: 100px;">
                                <div class="card-body px-0 text-center">
                                    <span class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Креатор политике</font></font></span>
                                </div>
                            </div>
                            <div>
                                <ul style="list-style-type: circle;">
                                    <li><a href="#" onclick="gotoTool(role_pm, 'tool6');return false;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Алат за праћење политике</font></font></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="py-3">
                        <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Да ли сте  добављач дигиталних технологија у пољопривреди?</font></font></h5>
                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Веома смо узбуђени зато што можемо да објавимо да наш онлајн каталог за дигитална пољопривредна технолошка решења сада садржи образац за подношење захтева за добављаче технологије. Ако нудите иновативна технолошка решења за пољопривреду, позивамо вас да </font></font><a href="https://forms.gle/dL6N7Lnpmctoz94L8" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">са нама поделите детаље о вашим производима</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> ради укључивања у наш свеобухватни каталог и доступне алате.</font></font></p>
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Придруживањем нашем каталогу ДАТС-а, повезаћете се са великим бројем пољопривредних произвођача и пољопривредних саветодаваца који траже најсавременије дигиталне алате за побољшање свог пословања. Не пропустите ову прилику да покажете своју понуду!
                                </font>
                            </font>
                        </p>
                        <p>
                            <a href="https://forms.gle/dL6N7Lnpmctoz94L8" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Једноставно попуните формулар</font></font></a><font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    са потребним информацијама о свом производу, а ми ћемо прегледати вашу пријаву ради укључивања у каталог.
                                </font>
                            </font>
                        </p>
                    </div>
                </div>
