                <div class="" style="max-width: 1200px;">
                    <div class="d-flex">
                        <div class="pt-4">
                            <h1>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Bienvenue dans la</font>
                                </font>
                            </h1>
                            <h1>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Boîte à outils QuantiFarm</font>
                                </font>
                            </h1>
                            <h5 class="pt-4">
                                <a href="https://quantifarm.eu/" target="_blank">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">QuantiFarm</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> soutient le déploiement avancé de solutions technologiques digitales agricoles en tant qu'outils clés pour améliorer les performances de durabilité et la compétitivité du secteur agricole.</font>
                                </font>
                            </h5>
                        </div>
                        <img class="d-none d-md-block" src="assets/img/bg2.png">
                    </div>

                    <div>
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">La boîte à outils QuantiFarm utilise des descriptions de Solutions Technologiques Digitales Agricoles (STDA) dérivées des sources suivantes&nbsp;:</font>
                            </font>
                        </p>
                        <ul>
                            <li>
                                <a href="https://fairshare-pnf.eu/" target="_blank">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">L'inventaire Fairshare</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> qui répertorie environ 300 TDA, utilisé par </font>
                                </font><a href="#" onclick="gotoTool(role_xx, 'tool1');return false;">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">l'outil de recommandation</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> de QuantiFarm .</font>
                                </font>
                            </li>
                            <li>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Un ensemble d'environ 100 STDA qui ont été extraites sur la base d'une analyse de la littérature de pointe et sont utilisées par le </font>
                                </font><a href="#" onclick="gotoTool(role_xx, 'tool2');return false;">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">calculateurs des coûts et bénéfices</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> .</font>
                                </font>
                            </li>
                            <li>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Un ensemble de données STDA qui sont évaluées à l'aide du </font>
                                </font><a href="methodology.html">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">cadre d'évaluation QuantiFarm</font>
                                    </font>
                                </a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> . Voir les résultats dans la </font>
                                </font><a href="results.html">section Cas d'usage</a>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;"> .</font>
                                </font>
                            </li>
                        </ul>
                    </div>

                    <div class="py-3">
                        <h5>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Commencez à utiliser les outils QuantiFarm :</font>
                            </font>
                        </h5>
                        <div class="d-flex align-items-center">
                            <div class="card align-items-center border border-2 border-light" style="width: 160px; margin: 10px; border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;">
                                <img src="assets/img/ico-farm.png" class="card-img-top" style="width: 100px;">
                                <div class="card-body px-0 text-center">
                                    <span class="card-title">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Agriculteur</font>
                                        </font>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <ul style="list-style-type: circle;">
                                    <li><a href="#" onclick="gotoTool(role_fa, 'tool1');return false;">Outil de recommandation</a></li>
                                    <li><a href="#" onclick="gotoTool(role_fa, 'tool2');return false;">Calculateurs de coûts et bénéfices</a></li>
                                    <li>
                                        <a href="#" onclick="gotoTool(role_fa, 'tool3');return false;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Outil d'analyse comparative</font>
                                            </font>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="card align-items-center border border-2 border-light" style="width: 160px; margin: 10px; border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;">
                                <img src="assets/img/ico-adv.png" class="card-img-top" style="width: 100px;">
                                <div class="card-body px-0 text-center">
                                    <span class="card-title">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Conseiller</font>
                                        </font>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <ul style="list-style-type: circle;">
                                    <li><a href="#" onclick="gotoTool(role_ad, 'tool1');return false;">Outil de recommandation</a></li>
                                    <li><a href="#" onclick="gotoTool(role_ad, 'tool2');return false;">Calculateurs de coûts et bénéfices</a></li>
                                    <li>
                                        <a href="#" onclick="gotoTool(role_ad, 'tool3');return false;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Outil d'analyse comparative</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="gotoTool(role_ad, 'tool5');return false;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Outil avancé d'aide à la décision</font>
                                            </font>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="card align-items-center border border-2 border-light" style="width: 160px; margin: 10px; border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;">
                                <img src="assets/img/ico-poli.png" class="card-img-top" style="width: 100px;">
                                <div class="card-body px-0 text-center">
                                    <span class="card-title">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Décideur politique</font>
                                        </font>
                                    </span>
                                </div>
                            </div>
                            <div>
                                <ul style="list-style-type: circle;">
                                    <li>
                                        <a href="#" onclick="gotoTool(role_pm, 'tool6');return false;">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Outil de surveillance des politiques</font>
                                            </font>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="py-3">
                        <h5>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Êtes-vous un fournisseur STDA ?</font>
                            </font>
                        </h5>
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Nous sommes ravis d'annoncer que notre répertoire en ligne de solutions technologiques pour l'agriculture numérique propose désormais un formulaire de soumission pour les fournisseurs de technologies. Si vous proposez des solutions technologiques innovantes pour l'agriculture, nous vous invitons à </font>
                            </font><a href="https://forms.gle/dL6N7Lnpmctoz94L8" target="_blank">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">partager les détails de votre produit avec nous</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> pour qu'il soit inclus dans notre catalogue complet et nos outils phares.</font>
                            </font>
                        </p>
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    En rejoignant notre répertoire de STDA, vous entrerez en contact avec un large public d'agriculteurs et de conseillers agricoles à la recherche d'outils numériques de pointe pour améliorer leurs opérations. Ne manquez pas cette occasion de présenter vos offres !
                                </font>
                            </font>
                        </p>
                        <p>
                            <a href="https://forms.gle/dL6N7Lnpmctoz94L8" target="_blank">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Remplissez simplement le formulaire</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    avec les informations nécessaires sur votre produit et nous examinerons votre soumission pour inclusion.
                                </font>
                            </font>
                        </p>
                    </div>
                </div>
