                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">De Recommendation Tool is een interactieve tool waarmee boeren en adviseurs inzicht kunnen krijgen in de beschikbare DATS en een aanbeveling kunnen aanvragen voor geschikte DATS op basis van:</font>
                                        </font>
                                    </p>
                                    <ul>
                                        <li>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">(1) DATS parameter filterwaarden en</font>
                                            </font>
                                        </li>
                                        <li>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">(2) Boerderijkenmerken</font>
                                            </font>
                                        </li>
                                    </ul>

                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Ondersteunde DATS parameter filters </font>
                                            </font>
                                        </strong>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                De DATS kunnen worden gefilterd door de gewenste parameterwaarden aan de linkerkant van de tool te selecteren. De mogelijke parameters om de DATS te filteren zijn:
                                            </font>
                                        </font>
                                    </p>
                                    <ul>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Landbouwsector:</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> de sector waarop de DATS zich richt</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Functionaliteit:</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> de relevante functionaliteit van de DATS</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Voordelen:</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> de voordelen die behaald kunnen worden door gebruik te maken van de DATS</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Digitale vorm:</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">&nbsp;de digitale vorm van de DATS</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Taal</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> en </font>
                                            </font><strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">land:</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> de ondersteunde taal en het doelland van de DATS</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Kostenstructuur:</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> de kostenstructuur van de DATS</font>
                                            </font>
                                        </li>
                                    </ul>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Ondersteunde waarden voor boerderijkenmerken</font>
                                            </font>
                                        </strong>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                De DATS kunnen worden aanbevolen op basis van enkele boerderijkenmerken&nbsp;die kunnen worden geselecteerd aan de bovenkant van de tool. De ondersteunde kenmerken omvatten:
                                            </font>
                                        </font>
                                    </p>
                                    <ul>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Type boerderij:</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> het soort boerderij (akkerbouw, zuivel, fruit en vleesproductie)</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Land:</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> het land waar de boerderij is gelegen</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Taal:</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> de taal van de boerderij</font>
                                            </font>
                                        </li>
                                    </ul>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Een aanbeveling aanvragen</font>
                                            </font>
                                        </strong>
                                    </p>

                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Zodra DATS parameter filters en/of waarden voor boerderijkenmerken zijn geselecteerd, kan een aanbeveling voor toepasselijke DATS worden aangevraagd door op de knop "Beveel DATS aan" te drukken. Er wordt een lijst met aanbevolen DATS met een paar parameters weergegeven. Wanneer u op een DATS klikt, wordt er meer gedetailleerde informatie weergegeven.</font>
                                        </font>
                                    </p>
                                    <br>

                                    <div class="row text-center">
                                        <div class="col">
                                            <button type="button" class="btn btn-primary" onclick="window.scrollTo(0, 0);(new bootstrap.Tab(document.getElementById('btnTabResult'))).show();">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Gebruik de tool</font>
                                                </font>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row text-center">
                                        <h5 class="card-title lh-lg">
                                            <a href="downloads/Recommendation-Tool-Manual.pdf" target="_blank">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Download de gebruikershandleiding</font>
                                                </font>
                                            </a>
                                        </h5>
                                    </div>

                                    <div class="row text-center">
                                        <p>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">De broncode van de tool is </font>
                                            </font><a href="https://gitlab.com/QuantiFarm/recommendation-tool" target="_blank" class="fw-bold">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">hier</font>
                                                </font>
                                            </a>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> beschikbaar.</font>
                                            </font>
                                        </p>
                                    </div>
