                <div class="" style="max-width: 1200px;">

                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="card-title">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">QuantiFarm biedt een verzameling tools aan om het maximale uit digitale landbouwtechnologische oplossingen (DATS) te halen</font>
                                </font>
                            </h5>
                        </div>
                    </div>

                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-2 mt-2">
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool1');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Aanbevelingstool
                                                </font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Interactieve tool waarmee boeren en adviseurs een aanbeveling kunnen aanvragen voor een of meerdere DATS, op basis van boerderijkenmerken, vereiste DATS-parameterwaarden en gewenste aanbevelingscriteria.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-12">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Voor boeren en adviseurs</font>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool2');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Kosten- en batencalculators
                                                </font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Deze tool is bedoeld om boeren en landbouwadviseurs te helpen bij het analyseren van de financiële gevolgen en mogelijke voordelen van de integratie van verschillende DATS in hun landbouwactiviteiten.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-12">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Voor boeren en adviseurs</font>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool3');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Benchmarking-tool
                                                </font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Deze tool ondersteunt de digitale registratie van dagelijkse landbouwpraktijken (irrigatie, sprays, oogsten en bemesting) en automatiseert de berekening van nuttige prestatie-indicatoren. Het ondersteunt de vergelijking van prestaties tussen verschillende percelen en teeltperioden door de resultaten te associëren met het gebruik van DATS.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-12">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Voor boeren en adviseurs</font>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool5');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Geavanceerde tool voor beslissingsondersteuning
                                                </font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Deze tool is bedoeld om voornamelijk landbouwadviseurs te ondersteunen bij de selectie van de meest geschikte DATS onder een gegeven verzameling van omstandigheden, voortbouwend op een combinatie van wetenschappelijke methoden (Strategic Fit, Analytic Hierarchical Process (AHP) en Quality Function Deployment (QFD)). De belangrijkste aangeboden functie is dat het gebrek aan kennis en bewijs met betrekking tot hun (directe en indirecte) werkelijke voordelen en kosten wordt aangepakt.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-12">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Voor adviseurs</font>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool6');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Beleidsmonitoringtool
                                                </font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Deze tool is bedoeld om de kloof te dichten in het verzamelen van gegevens met een lage ruimtelijke en temporele granulariteit op regionaal niveau door prestatiemetingen te integreren en te berekenen die de implementatie en monitoring van relevante beleidsmaatregelen (nationale strategische plannen van CAP, Green Deal-doelstelling) weerspiegelen. Momenteel integreert en rendert het op regionaal (LAU of Commune) niveau gegevens die zijn afgeleid van geanonimiseerde en geaggregeerde in-situ-informatie van geselecteerde Quantifarm-testcases.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-12">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Voor beleidsmakers</font>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br><br>

                </div>
