                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Edistynyt päätöksenteon tuki -työkalun (Advanced Decision Support Tool) tarkoituksena on auttaa neuvojia tukemaan asiakkaitaan näiden tehdessä päätöksiä siitä, mikä DATS on sopivin heidän tilalleen ottaen huomioon heidän erityistarpeensa, strategiset tavoitteensa ja mieltymyksensä sekä ulkoisen toimintaympäristön, jossa he toimivat. Tämä työkalu suunniteltiin poistamaan yksi digitaaliteknologian käyttöönoton keskeisistä esteistä, joka on tiedon ja todisteiden puute niiden (suorista ja välillisistä) todellisista hyödyistä ja kustannuksista.</font>
                        </font>
                    </p>
                    <br><br>

                    <div class="row text-center">
                        <div class="col">
                            <a type="button" role="button" class="btn btn-primary" href="downloads/DATs Advanced Decision Support Tool v1.0.xlsx" download="">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Lataa "Advanced Decision Support Tool"</font>
                                </font>
                            </a>
                        </div>
                    </div>

                    <div class="row text-center">
                        <h5 class="card-title lh-lg">
                            <a href="downloads/Advanced-Decision-Support-Tool-Manual.pdf" target="_blank">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Lataa käyttöopas</font>
                                </font>
                            </a>
                        </h5>
                    </div>

                    <div class="row text-center">
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Työkalun lähdekoodi löytyy </font>
                            </font><a href="https://gitlab.com/QuantiFarm/advanced-decision-support-for-dat-selection-tool" target="_blank" class="fw-bold">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">täältä</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> .</font>
                            </font>
                        </p>
                    </div>
