                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Orodje za svetovanje je interaktivno orodje, ki kmetom in svetovalcem omogoča, da pridobijo vpogled v razpoložljive DATS-se in zahtevajo priporočilo ustreznih DATS-ov, glede na:</font>
                                        </font>
                                    </p>
                                    <ul>
                                        <li>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">(1) Vrednosti filtra parametrov DATS-os in</font>
                                            </font>
                                        </li>
                                        <li>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">(2) Vrednosti značilnosti kmetije</font>
                                            </font>
                                        </li>
                                    </ul>

                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Podprti filtri parametrov DATS</font>
                                            </font>
                                        </strong>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                DATS je mogoče filtrirati z izbiro želenih vrednosti parametrov na levi strani orodja. Možni parametri za filtriranje DATS vključujejo:
                                            </font>
                                        </font>
                                    </p>
                                    <ul>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Kmetijski sektor)</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> sektor, na katerega je DATS usmerjen</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Funkcionalnost)</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> ustrezna funkcionalnost sistema DATS</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Ugodnosti)</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> koristi, ki jih je mogoče doseči z uporabo DATS</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Digitalna oblika)</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> digitalna oblika DATS</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Jezik</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> in </font>
                                            </font><strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">država)</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> podprti jezik in ciljna država DATS</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Struktura stroškov)</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> stroškovna struktura DATS</font>
                                            </font>
                                        </li>
                                    </ul>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Podprte vrednosti značilnosti kmetije</font>
                                            </font>
                                        </strong>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                DATS je mogoče priporočiti na podlagi nekaterih vrednosti značilnosti kmetije, ki jih je mogoče izbrati na zgornji strani orodja. Podprte značilnosti kmetije vključujejo:
                                            </font>
                                        </font>
                                    </p>
                                    <ul>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Vrsta kmetije)</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> vrsta kmetije (poljedeljska, živinorejska in sadjarska)</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Država)</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> država, v kateri je kmetija</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Jezik)</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> jezik kmetije</font>
                                            </font>
                                        </li>
                                    </ul>

                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Zahtevam priporočilo</font>
                                            </font>
                                        </strong>
                                    </p>

                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Ko so izbrani filtri parametrov DATS in/ali vrednosti značilnosti farme, lahko zahtevate priporočilo za ustrezne DATS-se s pritiskom na gumb »Priporočilo DATS«. Prikazan bo stolpčni seznam priporočenih DATS-ov z nekaj parametri. Ob kliku na DATS se prikažejo podrobnejše informacije.</font>
                                        </font>
                                    </p>
                                    <br>

                                    <div class="row text-center">
                                        <div class="col">
                                            <button type="button" class="btn btn-primary" onclick="window.scrollTo(0, 0);(new bootstrap.Tab(document.getElementById('btnTabResult'))).show();">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Začnite uporabljati orodje</font>
                                                </font>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row text-center">
                                        <h5 class="card-title lh-lg">
                                            <a href="downloads/Recommendation-Tool-Manual.pdf" target="_blank">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Prenesite uporabniški priročnik</font>
                                                </font>
                                            </a>
                                        </h5>
                                    </div>

                                    <div class="row text-center">
                                        <p>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Izvorna koda orodja je na voljo </font>
                                            </font><a href="https://gitlab.com/QuantiFarm/recommendation-tool" target="_blank" class="fw-bold">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">tukaj</font>
                                                </font>
                                            </a>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> .</font>
                                            </font>
                                        </p>
                                    </div>
