                <div class="" style="max-width: 1200px;">

                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="card-title">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">QuantiFarm propose un ensemble d'outils pour tirer le meilleur parti des Solutions Technologiques Digitales Agricoles</font>
                                </font>
                            </h5>
                        </div>
                    </div>

                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-2 mt-2">
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool1');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Outil de recommandation
                                                </font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Outil interactif permettant aux agriculteurs et aux conseillers de demander une recommandation pour une ou plusieurs STDA en fonction des caractéristiques de l'exploitation, des valeurs requises des paramètres STDA et des critères de recommandation souhaités.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-12">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Pour les agriculteurs et les conseillers</font>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool2');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Calculateurs de coûts et bénéfices
                                                </font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Cet outil est conçu pour aider les agriculteurs et les conseillers agricoles à analyser les implications financières et les bénéfices potentiels de l’intégration de diverses STDA dans leurs opérations agricoles.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-12">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Pour les agriculteurs et les conseillers</font>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool3');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Outil d'analyse comparative
                                                </font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Cet outil permet l'enregistrement numérique des pratiques agricoles quotidiennes (irrigations, pulvérisations, récoltes et fertilisations) et automatise le calcul d'indicateurs de performance utiles. Il permet de comparer les performances entre différentes parcelles et périodes de culture en associant les résultats à l'utilisation de STDA.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-12">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Pour les agriculteurs et les conseillers</font>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool5');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Outil avancé d'aide à la décision
                                                </font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Cet outil vise principalement à aider les conseillers agricoles à sélectionner les STDA les plus appropriées dans des conditions données, en s'appuyant sur une combinaison de méthodes scientifiques (ajustement stratégique, processus analytique hiérarchique (AHP) et déploiement de la fonction qualité (QFD)). La principale fonctionnalité offerte est de remédier au manque de connaissances et de preuves concernant leurs bénéfices et coûts réels (directs et indirects).</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-12">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Pour les conseillers</font>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool6');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Outil de surveillance des politiques
                                                </font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Cet outil vise à combler le manque de collecte de données à faible granularité spatiale et temporelle au niveau régional en intégrant et en calculant des indicateurs de performance qui reflètent la mise en œuvre et le suivi des politiques pertinentes (plans stratégiques nationaux de la PAC, objectif du Green Deal). Actuellement, il intègre et restitue au niveau régional (LAU ou Commune) des données dérivées d'informations in situ anonymisées et agrégées à partir de cas d'usage Quantifarm sélectionnés.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-12">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Pour les décideurs politiques</font>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br><br>

                </div>
