                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">L'outil de suivi des politiques fournit aux décideurs politiques un tableau de bord visuel de suivi des politiques, permettant la génération de rapports analytiques basés sur des requêtes, y compris des tableaux récapitulatifs ainsi que des graphiques. L'outil intègre et restitue au niveau régional (LAU ou commune) des données dérivées d'informations in situ anonymisées et agrégées provenant de 10 cas d'usage Quantifarm sélectionnés. Cela comprend des informations provenant de parcelles utilisant des technologies digitales agricoles (STDA), de parcelles n'utilisant pas de STDA, d'exportations de calendriers agricoles et de journaux numériques. Les produits de données EO (par exemple, le type de culture, l'utilisation des terres de l'ESA), les ensembles de données SIG européens ouverts (par exemple, GISCO, EEA) et les données ouvertes des services de suivi des politiques de l'UE (par exemple, FADN, Eurostat) ont été utilisés comme intrants pour calculer des indicateurs (KPI), des variables ou fixer des seuils pour des comparaisons qualitatives et quantitatives subjectives des performances régionales liées aux politiques.</font>
                        </font>
                    </p>
                    <br><br>

                    <div class="row text-center">
                        <div class="col">
                            <a type="button" role="button" class="btn btn-primary" href="/pmt" target="_blank">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Outil de surveillance des politiques ouvertes</font>
                                </font>
                            </a>
                        </div>
                    </div>

                    <div class="row text-center">
                        <h5 class="card-title lh-lg"><a href="downloads/Policy-monitoring-Tool-Manual.pdf" target="_blank">Télécharger le manuel d'utilisation (disponible en anglais)</a></h5>
                    </div>

                    <div class="row text-center">
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Le code source de l'outil est disponible </font>
                            </font><a href="https://gitlab.com/QuantiFarm/policymonitoring-tool" target="_blank" class="fw-bold">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">ici</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> .</font>
                            </font>
                        </p>
                    </div>
