                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Politiikkaseuranta-työkalu (Policy Monitoring Tool) tarjoaa politiikkapäättäjille visuaalisen politiikan seurannan kojelaudan, jonka avulla voidaan luoda kyselyihin perustuvia analyyttisiä raportteja, mukaan lukien yhteenvetotaulukot ja graafiset kaaviot. Työkalu integroi ja visualisoi aluetasolla (LAU tai kunta) tiedot, jotka on johdettu 10 valitun Quantifarm-testitapauksen anonymisoiduista ja kootuista in situ -tiedoista. Tämä sisältää tiedot lohkoista, joissa käytetään digitaalisia maataloustekniikoita (DATS), lohkoista, joissa niitä ei käytetä, sekä maatilakalentereista ja&nbsp;digitaalisista kirjauksista tuodut tiedot. Kaukokartoitus-tietotuotteiden (esim. viljelykasvityyppi, ESA:n maankäyttö), avointen eurooppalaisten GIS-tietosarjojen (esim. GISCO, EEA) ja EU:n politiikan seurantapalveluiden (esim. FADN, Eurostat) avoimien tietojen perusteella&nbsp;on laskettu indikaattoreiden (KPI),&nbsp;muuttujia tai kynnysarvoja, joiden avulla voidaan subjektiivisesti tehdä laadullisia ja määrällisiä vertailuja alueellisista tuloksista.</font>
                        </font>
                    </p>
                    <br><br>

                    <div class="row text-center">
                        <div class="col">
                            <a type="button" role="button" class="btn btn-primary" href="/pmt" target="_blank">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Avaa politiikkaseuranta-työkalu</font>
                                </font>
                            </a>
                        </div>
                    </div>

                    <div class="row text-center">
                        <h5 class="card-title lh-lg">
                            <a href="downloads/Policy-monitoring-Tool-Manual.pdf" target="_blank">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Lataa käyttöopas</font>
                                </font>
                            </a>
                        </h5>
                    </div>

                    <div class="row text-center">
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Työkalun lähdekoodi löytyy </font>
                            </font><a href="https://gitlab.com/QuantiFarm/policymonitoring-tool" target="_blank" class="fw-bold">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">täältä</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> .</font>
                            </font>
                        </p>
                    </div>
