                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                Алат 'Калкулатори трошкова и користи' је дизајниран да помогне пољопривредницима и пољопривредним саветодавцима у анализи финансијских импликација и потенцијалних користи од интеграције различитих ДАТС-а у њихове пољопривредне операције. Овај интегрисани алат адекватно испуњава&nbsp;захтеве различитих типова ратарске, воћарске и сточарске производње, са посебним модулима калкулатора који су прилагођени сваком од њих.
                                            </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                У оквиру алата, корисници могу да истраже свеобухватну базу ДАТС-ова, да га одаберу, а по завршетку неопходних уноса за модуле калкулатора, алат пружа виталне информације као што су повраћај улагања (РОИ) и нето приход.
                                            </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                Ово помаже крајњим корисницима да стекну реално разумевање својих потенцијалних улагања у ДАТС.
                                            </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                Као кључна компонента КвантиФарм алата, 'Калкулатори трошкова и користи' служе као суштински, индикативни водич за фармере и саветодавце, помажући им да разумеју економску изводљивост и потенцијалну профитабилност ДАТС-а током њиховог оперативног животног циклуса.
                                            </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Да би користио алат, корисник се мора регистровати и пријавити.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <u>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Разматрања и одрицање одговорности за коришћење алата за калкулатор трошкова и користи</font>
                                                </font>
                                            </u>
                                        </strong>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Просечне цене:</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> Приказани трошкови куповине су просечне цене и не треба их сматрати фиксним или гарантованим. Крајњи корисници треба да траже стварне понуде од ДАТС провајдера или продаваца.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Извор података о користима:</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> Економске и еколошке користи су засноване на научним публикацијама или тврдњама добављача из специфичних услова и локација. Можда се не примењују универзално, а стварне користи могу варирати.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Искључивање пореза/накнада:</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> Калкулатор не укључује порезе или друге посебне накнаде које могу бити применљиве на локацију крајњег корисника.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Сврха алата:</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> Калкулатор је индикативни алат који пружа увид у потенцијалне трошкове и користи, допуњујући главни алат за препоруку засновану на КвантиФарм оквиру за процену.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Доношење одлука:</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> Овај алат нуди драгоцене информације за подршку доношењу одлука у усвајању ДАТС-а, помажући заинтересованим странама да идентификују опције које најбоље одговарају њиховим специфичним потребама.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <em>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Група Смарт Фарминг Тецхнологиес са Пољопривредног универзитета у Атини одржава ову платформу како би на одговарајући начин информисала јавност и предложила технолошка решења. Информације које се пружају на овој онлајн платформи су објективно формулисани научни подаци, који су извучени из више извора (као што су научни чланци, резултати истраживања, производи и услуге компанија и/или организација), и не изражавају никакве личне процене или мишљења истраживача. Било који члан истраживачког тима не сноси никакву одговорност за радње или пропусте оних који посећују ову платформу, и нико неће имати право на тужбу због штетног ослањања на било који савет или информацију дату или изражену.</font>
                                            </font>
                                        </em>
                                    </p>

                                    <div class="row text-center">
                                        <h5 class="card-title lh-lg">
                                            <a href="downloads/Cost-and-Benefit-Calculators-Manual.pdf" target="_blank">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Преузмите упутство за употребу</font>
                                                </font>
                                            </a>
                                        </h5>
                                    </div>

                                    <div class="row text-center">
                                        <p>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Изворни код алата је доступан </font>
                                            </font><a href="https://gitlab.com/QuantiFarm/cost-benefit-calculator" target="_blank" class="fw-bold">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">овде</font>
                                                </font>
                                            </a>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> .</font>
                                            </font>
                                        </p>
                                    </div>
