                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                Orodje "Cost &amp; Benefit Calculators" je zasnovano za pomoč kmetom in kmetijskim svetovalcem pri analizi finančnih posledic in potencialnih koristi vključevanja različnih DATS-ov v njihove kmetijske dejavnosti. To integrirano orodje ustreza različnim zahtevam tako rastlinskih, kot živinorejskih sistemov, saj vsebuje posebne kalkulatorske module, prilagojene vsakemu posebej.
                                            </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                Znotraj orodja lahko uporabniki raziščejo obsežen repozitorij DATS-ov, izberejo enega, in po dokončanih vnosih za module kalkulatorja orodje zagotovi ključne informacije, kot sta donosnost naložbe (ROI) in neto dobiček.
                                            </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                To končnim uporabnikom pomaga pridobiti realno razumevanje njihove potencialne naložbe v DATS-u.
                                            </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                Kot ključna komponenta orodij QuantiFarm služijo "kalkulatorji stroškov", kot bistven in okviren vodnik za kmete in svetovalce. Pomagajo jim razumeti ekonomsko izvedljivost in potencialno donosnost DATS-ov v njihovem operativnem postopku.
                                            </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Za uporabo orodja se mora uporabnik registrirati in prijaviti.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <u>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Premisleki in zavrnitve odgovornosti za uporabo orodja za izračun stroškov</font>
                                                </font>
                                            </u>
                                        </strong>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Povprečne cene:</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> predstavljeni stroški nakupa so povprečne cene in se ne smejo šteti za fiksne ali zajamčene. Končni uporabniki bi morali poiskati dejanske ponudbe pri ponudnikih DATS-ov ali trgovinah na drobno.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Vir podatkov o koristih:</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> gospodarske in okoljske koristi temeljijo na znanstvenih publikacijah ali trditvah ponudnikov iz posebnih pogojev in lokacij. Morda ne veljajo univerzalno in dejanske koristi so lahko različne.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Izključitev davkov/pristojbin:</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> Kalkulator ne vključuje davkov ali drugih posebnih dajatev, ki bi lahko veljale za lokacijo končnega uporabnika.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Namen orodja:</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> Kalkulator je okvirno orodje, ki zagotavlja vpogled v možne stroške ter dopolnjuje glavno orodje za svetovanje, ki temelji na ocenjevalnem orodju QuantiFarm.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Sprejemanje odločitev:</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> to orodje ponuja dragocene informacije za podporo odločanja pri sprejemanju DATS-ov, ki zainteresiranim stranem pomaga prepoznati možnosti, ki najbolje ustrezajo njihovim potrebam.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <em>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Skupina Smart Farming Technologies Agronomske univerze v Atenah vzdržuje to platformo za ustrezno obveščanje javnosti in predlaganje tehnoloških rešitev. Informacije na tej spletni strani so objektivno oblikovani znanstveni podatki, pridobljeni iz več virov (kot so znanstveni članki, rezultati raziskav, izdelki in storitve podjetij in/ali organizacij) in ne izražajo osebnih ocen ali mnenj raziskovalcev. Noben član raziskovalne skupine ne nosi nikakršne odgovornosti za dejanja ali opustitve tistih, ki obiščejo to spletno stran, in nihče ni upravičen do zahtevka zaradi škodljivega zanašanja na kateri koli nasvet ali informacijo, ki je bila dana ali izražena.</font>
                                            </font>
                                        </em>
                                    </p>

                                    <div class="row text-center">
                                        <h5 class="card-title lh-lg">
                                            <a href="downloads/Cost-and-Benefit-Calculators-Manual.pdf" target="_blank">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Prenesite uporabniški priročnik</font>
                                                </font>
                                            </a>
                                        </h5>
                                    </div>

                                    <div class="row text-center">
                                        <p>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Izvorna koda orodja je na voljo </font>
                                            </font><a href="https://gitlab.com/QuantiFarm/cost-benefit-calculator" target="_blank" class="fw-bold">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">tukaj</font>
                                                </font>
                                            </a>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> .</font>
                                            </font>
                                        </p>
                                    </div>
