                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                L'outil « Calculateurs de coûts et bénéfices » est conçu pour aider les agriculteurs et les conseillers agricoles à analyser les implications financières et les avantages potentiels de l'intégration de divers STDA dans leurs opérations agricoles. Cet outil intégré répond parfaitement aux diverses exigences des systèmes d'agriculture et d'élevage, avec des modules de calcul spécifiques adaptés à chacun.
                                            </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                Au sein de l'outil, les utilisateurs peuvent explorer un référentiel complet de STDA, en sélectionner un et, après avoir complété les entrées nécessaires pour les modules de calculateur, l'outil fournit des informations vitales telles que le retour sur investissement (ROI) et le bénéfice net.
                                            </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                Cela aide les utilisateurs finaux à acquérir une compréhension réaliste de leur investissement potentiel dans une STDA.
                                            </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                En tant qu'élément essentiel de la boîte à outils QuantiFarm, les « Calculateurs de coûts et bénéfices » servent de guide indicatif essentiel pour les agriculteurs et les conseillers, les aidant à comprendre la faisabilité économique et la rentabilité potentielle des STDA tout au long de leur cycle de vie opérationnel.
                                            </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Pour utiliser l’outil, l’utilisateur doit s’inscrire et se connecter.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <u>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Considérations et avis de non-responsabilité concernant l'utilisation de l'outil de calcul des coûts et bénéfices</font>
                                                </font>
                                            </u>
                                        </strong>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Prix moyens :</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> Les coûts d'achat présentés sont des prix moyens et ne doivent pas être considérés comme fixes ou garantis. Les utilisateurs finaux doivent demander des devis réels aux fournisseurs ou aux revendeurs de STDA.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Source des données sur les bénéfices :</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> Les bénéfices économiques et environnementaux sont basés sur des publications scientifiques ou des déclarations de prestataires de services dans des conditions et des lieux spécifiques. Ils peuvent ne pas s'appliquer universellement et les bénéfices réels peuvent varier.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Exclusion des taxes/frais :</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> Le calculateur n'inclut pas les taxes ou autres frais spécifiques qui peuvent être applicables à l'emplacement de l'utilisateur final.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Objectif de l'outil :</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> Le calculateur est un outil indicatif qui fournit des informations sur les coûts et les bénéfices potentiels, complétant l'outil de recommandation principal basé sur le cadre d'évaluation QuantiFarm.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Prise de décision :</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> Cet outil offre des informations précieuses pour soutenir la prise de décision dans l’adoption des STDA, aidant les parties prenantes à identifier les options qui correspondent le mieux à leurs besoins spécifiques.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <em>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Le Groupe Smart Farming Technologies de l'Université Agricole d'Athènes gère cette plateforme pour informer le public de manière appropriée et proposer des solutions technologiques. Les informations fournies sur cette plateforme en ligne sont des données scientifiques formulées de manière objective, qui ont été extraites de plusieurs sources (telles que des articles scientifiques, des résultats de recherche, des produits et des services d'entreprises et/ou d'organisations), et n'expriment aucune évaluation ou opinion personnelle des chercheurs. Aucun membre de l'équipe de recherche n'assume aucune responsabilité pour les actes ou omissions de ceux qui visitent cette plateforme, et personne ne peut prétendre à une réclamation pour une confiance préjudiciable accordée à tout conseil ou information fourni ou exprimé.</font>
                                            </font>
                                        </em>
                                    </p>

                                    <div class="row text-center">
                                        <h5 class="card-title lh-lg"><a href="downloads/Cost-and-Benefit-Calculators-Manual.pdf" target="_blank">Télécharger le manuel d'utilisation (disponible en anglais)</a></h5>
                                    </div>

                                    <div class="row text-center">
                                        <p>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Le code source de l'outil est disponible </font>
                                            </font><a href="https://gitlab.com/QuantiFarm/cost-benefit-calculator" target="_blank" class="fw-bold">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">ici</font>
                                                </font>
                                            </a>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> .</font>
                                            </font>
                                        </p>
                                    </div>
