                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">De "Geavanceerde tool voor beslissingsondersteuning" is bedoeld om adviseurs te helpen hun klanten te ondersteunen bij het bepalen welke DATS het meest geschikt is voor hun boerderij, rekening houdend met hun specifieke behoeften, strategische doelen en voorkeuren, evenals de externe omgeving waarin ze opereren. Het is ontworpen om een ​​van de belangrijkste barrières bij het adopteren van digitale technologieën aan te pakken, namelijk het gebrek aan kennis en bewijs met betrekking tot hun (directe en indirecte) werkelijke voordelen en kosten.</font>
                        </font>
                    </p>
                    <br><br>

                    <div class="row text-center">
                        <div class="col">
                            <a type="button" role="button" class="btn btn-primary" href="downloads/DATs Advanced Decision Support Tool v1.0.xlsx" download="">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Download de “Geavanceerde tool voor beslissingsondersteuning”</font>
                                </font>
                            </a>
                        </div>
                    </div>

                    <div class="row text-center">
                        <h5 class="card-title lh-lg">
                            <a href="downloads/Advanced-Decision-Support-Tool-Manual.pdf" target="_blank">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Download de gebruikershandleiding</font>
                                </font>
                            </a>
                        </h5>
                    </div>

                    <div class="row text-center">
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">De broncode van de tool is </font>
                            </font><a href="https://gitlab.com/QuantiFarm/advanced-decision-support-for-dat-selection-tool" target="_blank" class="fw-bold">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">hier</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> beschikbaar.</font>
                            </font>
                        </p>
                    </div>
