                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Orodje za spremljanje kmetijskih politik ponuja oblikovalcem vizualno nadzorno ploščo za spremljanje kemtijskih politik, ki omogoča ustvarjanje analitičnih poročil na podlagi poizvedb, vključno s tabelami povzetkov in grafikoni. Orodje integrira in upodablja podatke na regionalni ravni (LAU ali občine), pridobljene iz anonimnih in združenih informacij na kraju samem, iz 10 izbranih testnih primerov Quantifarm. To vključuje informacije iz parcel, ki uporabljajo digitalne kmetijske tehnologije (DATS), parcel, ki ne uporabljajo DATS-ov, izvoze kmetijskega koledarja in digitalne dnevnike. Podatkovni izdelki EO (npr. vrsta pridelka, raba zemlje ESA), odprti evropski nabori podatkov GIS (npr. GISCO, EEA) in odprti podatki iz storitev spremljanja politik EU (npr. FADN, Eurostat) so bili uporabljeni kot vhodni podatki za izračun kazalnikov (KPI), spremenljivk ali določanje pragov za subjektivne kvalitativne in kvantitativne primerjave regionalne uspešnosti, povezane s politiko.</font>
                        </font>
                    </p>
                    <br><br>

                    <div class="row text-center">
                        <div class="col">
                            <a type="button" role="button" class="btn btn-primary" href="/pmt" target="_blank">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Odprite orodje za spremljanje pravilnika</font>
                                </font>
                            </a>
                        </div>
                    </div>

                    <div class="row text-center">
                        <h5 class="card-title lh-lg">
                            <a href="downloads/Policy-monitoring-Tool-Manual.pdf" target="_blank">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Prenesite uporabniški priročnik</font>
                                </font>
                            </a>
                        </h5>
                    </div>

                    <div class="row text-center">
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Izvorna koda orodja je na voljo </font>
                            </font><a href="https://gitlab.com/QuantiFarm/policymonitoring-tool" target="_blank" class="fw-bold">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">tukaj</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> .</font>
                            </font>
                        </p>
                    </div>
