                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                Kustannus- ja hyötylaskurit on suunniteltu auttamaan maanviljelijöitä ja maatalouden neuvojia analysoimaan niitä taloudellisia vaikutuksia ja mahdollisia hyötyjä, joita DATSien käyttöönotto tuo. Kustannus- ja hyötylaskurit on tehty täyttämään sekä kasvinviljelyn että kotieläintuotannon erilaiset vaatimukset, ja siinä on niille räätälöidyt laskentamoduulit.
                                            </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                Työkalun sisällä käyttäjät voivat tutustua kattavaan DATS-tietovarastoon, valita niistä, ja kun laskurin moduuleille tarvittavat syötteet on valittu, työkalu tarjoaa tärkeitä tietoja, kuten sijoitetun pääoman tuotto (ROI) ja nettohyöty.
                                            </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                Laskurit auttavat loppukäyttäjiä saamaan realistisen käsityksen kannattaako DATSiin investoida.&nbsp;
                                            </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                QuantiFarm-työkalupaketin keskeisenä osana kustannus- ja hyötylaskurit ovat olennainen, suuntaa-antava opas viljelijöille ja neuvoille. Ne auttavat heitä ymmärtämään DATS-ratkaisujen taloudellista kannattavuutta koko niiden elinkaaren ajalta.
                                            </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Käyttääkseen työkalua käyttäjän on rekisteröidyttävä ja kirjauduttava sisään.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <u>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Kustannus- ja hyötylaskurityökalun käyttöä koskevat huomiot ja vastuuvapauslausekkeet</font>
                                                </font>
                                            </u>
                                        </strong>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Keskihinnat:</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> Esitetyt ostokustannukset ovat keskimääräisiä hintoja, eikä niitä tule pitää kiinteinä tai taattuina. Loppukäyttäjien tulee pyytää todellisia tarjouksia DATS-palveluntarjoajilta tai jälleenmyyjiltä.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Hyötytietojen lähde:</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> Taloudelliset ja ympäristöhyödyt perustuvat tieteellisiin julkaisuihin tai palveluntarjoajien väitteisiin tietyistä olosuhteista ja paikoista. Ne eivät välttämättä päde yleisesti, ja todelliset hyödyt voivat vaihdella.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Verojen/maksujen poissulkeminen:</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> Laskin ei sisällä veroja tai muita maksuja, joita voidaan soveltaa loppukäyttäjän sijainnin perusteella.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Työkalun tarkoitus:</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> Laskin on suuntaa-antava työkalu, joka antaa arvioita mahdollisista kustannuksista ja hyödyistä ja täydentää QuantiFarm arviointikehykseen (Assessment Framework) perustuvaa pääsuositustyökalua.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Päätöksenteko:</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> Tämä työkalu tarjoaa arvokasta tietoa päätöksenteon tueksi DATSien käyttöönotossa ja auttaa sidosryhmiä löytämään vaihtoehdot, jotka sopivat parhaiten heidän erityistarpeisiinsa.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <em>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Ateenan maatalousyliopiston Smart Farming Technologies Group ylläpitää tätä alustaa ja tiedottaa DATSeista&nbsp; asianmukaisesti ja ehdottaa teknisiä ratkaisuja. Tällä verkkoalustalla annetut tiedot ovat objektiivisesti muotoiltuja tieteellisiä tietoja, jotka on poimittu useista lähteistä (kuten tieteellisistä artikkeleista, tutkimustuloksista, yritysten ja/tai organisaatioiden tuotteista ja palveluista), eivätkä ne sisällä tutkijoiden henkilökohtaisia ??arvioita tai mielipiteitä. Kukaan tutkimusryhmän jäsenistä ei ole vastuussa tällä alustalla vierailevien käyttäjien teoista tai laiminlyönneistä eikä kenelläkään ole oikeutta esittää vaatimuksia mahdolliseen vahingolliseen luottamukseen perustuen minkään&nbsp;annetun tai ilmaistun neuvon tai tiedon osalta.</font>
                                            </font>
                                        </em>
                                    </p>

                                    <div class="row text-center">
                                        <h5 class="card-title lh-lg">
                                            <a href="downloads/Cost-and-Benefit-Calculators-Manual.pdf" target="_blank">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Lataa käyttöopas</font>
                                                </font>
                                            </a>
                                        </h5>
                                    </div>

                                    <div class="row text-center">
                                        <p>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Työkalun lähdekoodi löytyy </font>
                                            </font><a href="https://gitlab.com/QuantiFarm/cost-benefit-calculator" target="_blank" class="fw-bold">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">täältä</font>
                                                </font>
                                            </a>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> .</font>
                                            </font>
                                        </p>
                                    </div>
