                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                Neuvojille vertailutyökalu mahdollistaa asiakkaidensa tilojen tietojen (kalenteritiedot, kuten kastelut, ruiskutukset, sadonkorjuut ja lannoitukset) lisäämisen, mikä mahdollistaa paremman päätöksenteon ja vertailun eri tilojen välillä. Työkalu laskee suorituskykymittarit ja indikaattorit syötettyjen tietojen avulla ja palauttaa ne neuvojalle lisätutkimuksia varten. Käyttäjä voi verrata laskettuja suorituskykyindikaattoreita&nbsp;kahdella eri tavalla:
                                            </font>
                                        </font>
                                    </p>
                                    <ol type="a">
                                        <li>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">kaksi erilaisen lohkon tai lohkoryhmän välillä (huomaa, että lohkotunnustekstiruutu voi saada syötteenä pilkuilla erotetut arvot ja laskea indikaattorit näiden lohkojen tilakalentereiden avulla), </font>
                                            </font>
                                        </li>
                                        <li>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">saman lohkon tai lohkoryhmän välillä eri ajanjaksoina.</font>
                                            </font>
                                        </li>
                                    </ol>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Käyttääkseen työkalua käyttäjän on rekisteröidyttävä ja kirjauduttava sisään.</font>
                                        </font>
                                    </p>

                                    <div class="row text-center">
                                        <h5 class="card-title lh-lg">
                                            <a href="downloads/Benchmarking-Tool-Manual.pdf" target="_blank">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Lataa käyttöopas</font>
                                                </font>
                                            </a>
                                        </h5>
                                    </div>

                                    <div class="row text-center">
                                        <h5 class="card-title lh-lg">
                                            <a href="downloads/benchmarking_example_datasets.zip">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Lataa esimerkkitiedostoja</font>
                                                </font>
                                            </a>
                                        </h5>
                                    </div>

                                    <div class="row text-center mt-3">
                                        <p>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Työkalun lähdekoodi löytyy </font>
                                            </font><a href="https://gitlab.com/QuantiFarm/benchmarking-tool" target="_blank" class="fw-bold">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">täältä</font>
                                                </font>
                                            </a>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> .</font>
                                            </font>
                                        </p>
                                    </div>
