                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                Voor de adviseurs zal een Benchmarking Tool de toevoeging van data van de boerderijen (kalenderdata zoals irrigaties, sprays, oogsten en bemestingen) van hun klanten mogelijk maken om zowel betere besluitvorming als de vergelijking tussen de verschillende boerderijen mogelijk te maken. De Tool zal prestatiemetingen en indicatoren berekenen door gebruik te maken van de verstrekte data en deze terugsturen naar de adviseur voor verdere studie. De gebruiker zal in staat zijn om te vergelijken met behulp van de berekende prestatie-indicatoren:
                                            </font>
                                        </font>
                                    </p>
                                    <ol type="a">
                                        <li>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">twee verschillende percelen of groepen percelen (let op: het tekstvak perceel-id kan als invoer komma-gescheiden waarden krijgen en de indicatoren berekenen met behulp van boerderijkalenders van deze percelen), </font>
                                            </font>
                                        </li>
                                        <li>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">hetzelfde perceel voor verschillende tijdsperioden.</font>
                                            </font>
                                        </li>
                                    </ol>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Om de tool te kunnen gebruiken, moet de gebruiker zich registreren en inloggen.</font>
                                        </font>
                                    </p>

                                    <div class="row text-center">
                                        <h5 class="card-title lh-lg">
                                            <a href="downloads/Benchmarking-Tool-Manual.pdf" target="_blank">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Download de gebruikershandleiding</font>
                                                </font>
                                            </a>
                                        </h5>
                                    </div>

                                    <div class="row text-center">
                                        <h5 class="card-title lh-lg">
                                            <a href="downloads/benchmarking_example_datasets.zip">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Voorbeeldbestanden downloaden</font>
                                                </font>
                                            </a>
                                        </h5>
                                    </div>

                                    <div class="row text-center mt-3">
                                        <p>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">De broncode van de tool is </font>
                                            </font><a href="https://gitlab.com/QuantiFarm/benchmarking-tool" target="_blank" class="fw-bold">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">hier</font>
                                                </font>
                                            </a>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> beschikbaar.</font>
                                            </font>
                                        </p>
                                    </div>
