                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">L'outil de recommandation est un outil interactif qui permet aux agriculteurs et aux conseillers d'obtenir des informations sur les STDA disponibles et de demander une recommandation de STDA appropriées, compte tenu :</font>
                                        </font>
                                    </p>
                                    <ul>
                                        <li>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">(1) Valeurs de filtre des paramètres STDA et</font>
                                            </font>
                                        </li>
                                        <li>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">(2) Valeurs des caractéristiques de l'exploitation</font>
                                            </font>
                                        </li>
                                    </ul>

                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Filtres de paramètres STDA pris en charge</font>
                                            </font>
                                        </strong>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                Les STDA peuvent être filtrées en sélectionnant les valeurs de paramètres souhaitées sur le côté gauche de l'outil. Les paramètres possibles pour filtrer les STDA incluent&nbsp;:
                                            </font>
                                        </font>
                                    </p>
                                    <ul>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Secteur agricole)</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> le secteur ciblé par la STDA</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Fonctionnalité)</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> la fonctionnalité pertinente de la STDA</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Bénéfices)</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> les bénéfices qui peuvent être obtenus en utilisant la STDA</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Digital Form)</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> la forme numérique de la STDA</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Langue</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> et </font>
                                            </font><strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">pays)</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> la langue prise en charge et le pays ciblé de la STDA</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Structure des coûts)</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> la structure des coûts de la STDA</font>
                                            </font>
                                        </li>
                                    </ul>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Valeurs des caractéristiques de la ferme prises en charge</font>
                                            </font>
                                        </strong>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                Les STDA peuvent être recommandées en fonction de certaines valeurs de caractéristiques de ferme qui peuvent être sélectionnées dans la partie supérieure de l'outil. Les caractéristiques de ferme prises en charge incluent&nbsp;:
                                            </font>
                                        </font>
                                    </p>
                                    <ul>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Type de ferme)</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> le type de ferme (culture, production laitière et fruitière)</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Pays)</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> le pays où la ferme est située</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Langue)</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> la langue de la ferme</font>
                                            </font>
                                        </li>
                                    </ul>

                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Demande de recommandation</font>
                                            </font>
                                        </strong>
                                    </p>

                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Une fois les filtres de paramètres STDA et/ou les valeurs des caractéristiques de l'exploitation sélectionnés, une recommandation pour les STDA applicables peut être demandée en appuyant sur le bouton « Recommandations STDA ». Une liste en colonnes des STDA recommandées s'affiche avec quelques paramètres. En cliquant sur une STDA, des informations plus détaillées s'affichent.</font>
                                        </font>
                                    </p>
                                    <br>

                                    <div class="row text-center">
                                        <div class="col">
                                            <button type="button" class="btn btn-primary" onclick="window.scrollTo(0, 0);(new bootstrap.Tab(document.getElementById('btnTabResult'))).show();">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Commencer à utiliser l'outil</font>
                                                </font>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row text-center">
                                        <h5 class="card-title lh-lg"><a href="downloads/Recommendation-Tool-Manual.pdf" target="_blank">Télécharger le manuel d'utilisation (disponible en anglais)</a></h5>
                                    </div>

                                    <div class="row text-center">
                                        <p>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Le code source de l'outil est disponible </font>
                                            </font><a href="https://gitlab.com/QuantiFarm/recommendation-tool" target="_blank" class="fw-bold">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">ici</font>
                                                </font>
                                            </a>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> .</font>
                                            </font>
                                        </p>
                                    </div>
