                <div class="" style="max-width: 1200px;">

                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="card-title">
                                Το QuantiFarm προσφέρει ένα σύνολο εργαλείων για τη μέγιστη αξιοποίηση των Λύσεων Ψηφιακής Γεωργίας.
                            </h5>
                        </div>
                    </div>

                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-2 mt-2">
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool1');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Εργαλείο συστάσεων (Recommendation tool)
                                                </font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            Διαδραστικό εργαλείο που επιτρέπει στους αγρότες και τους συμβούλους να λαμβάνουν προσωποποιημένες προτάσεις για λύσεις ψηφιακής γεωργίας (DATSs), στη βάση των ιδιαίτερων χαρακτηριστικών των εκμεταλλεύσεων τους και των κριτηρίων που έχουν επιλέξει<font style="vertical-align: inherit;">.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-6">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Για αγρότες και συμβούλους</font>
                                        </font>
                                    </div>
                                    <!--<div class="col-6 text-end"><a role="button" class="btn btn-outline-secondary btn-sm rounded-pill" href="https://gitlab.com/QuantiFarm/recommendation-tool" target="_blank"><i class="bi bi-download me-1"></i>Download</a></div>-->
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool2');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Υπολογιστές κόστους και οφέλους (Cost and Benefit calculators)
                                                </font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            Αυτό το εργαλείο έχει σχεδιαστεί για να υποστηρίζει αγρότες και αγροτικούς συμβούλους στην αξιολόγηση των οικονομικών επιπτώσεων και των δυνητικών οφελών από την υιοθέτηση και εφαρμογή συγκεκριμένων λύσεων ψηφιακής γεωργίας στις παραγωγικές τους δραστηριότητες<font style="vertical-align: inherit;">.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-6">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Για αγρότες και συμβούλους</font>
                                        </font>
                                    </div>
                                    <!--<div class="col-6 text-end"><a role="button" class="btn btn-outline-secondary btn-sm rounded-pill" href="https://gitlab.com/QuantiFarm/cost-benefit-calculator" target="_blank"><i class="bi bi-download me-1"></i>Download</a></div>-->
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool3');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Εργαλείο συγκριτικής αξιολόγησης (Benchmarking tool)
                                                </font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            Αυτό το εργαλείο διευκολύνει την ψηφιακή καταγραφή των καθημερινών γεωργικών πρακτικών, όπως αρδεύσεις, ψεκασμοί, συγκομιδές και λιπάνσεις, ενώ παράλληλα αυτοματοποιεί τον υπολογισμό χρήσιμων δεικτών απόδοσης. Επιτρέπει τη σύγκριση της απόδοσης μεταξύ διαφορετικών αγροτεμαχίων και καλλιεργητικών περιόδων, συσχετίζοντας τα αποτελέσματα με τη χρήση τεχνολογιών DATSs, παρέχοντας πολύτιμες πληροφορίες για τη βελτιστοποίηση της γεωργικής παραγωγής<font style="vertical-align: inherit;">.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-6">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Για αγρότες και συμβούλους</font>
                                        </font>
                                    </div>
                                    <!--<div class="col-6 text-end"><a role="button" class="btn btn-outline-secondary btn-sm rounded-pill" href="https://gitlab.com/QuantiFarm/benchmarking-tool" target="_blank"><i class="bi bi-download me-1"></i>Download</a></div>-->
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool5');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Εργαλείο υποστήριξης προηγμένων αποφάσεων (Advanced decision Support tool)
                                                </font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            Αυτό το εργαλείο έχει σχεδιαστεί για να υποστηρίζει κυρίως αγροτικούς συμβούλους στην επιλογή των καταλληλότερων DATSs, λαμβάνοντας υπόψη ένα συγκεκριμένο σύνολο συνθηκών. Βασίζεται σε έναν συνδυασμό επιστημονικών μεθόδων, όπως το Strategic Fit, το Analytic Hierarchical Process (AHP) και το Quality Function Deployment (QFD). Το βασικό του πλεονέκτημα είναι ότι αντιμετωπίζει την έλλειψη γνώσης και αποδεικτικών στοιχείων σχετικά με τα πραγματικά (άμεσα και έμμεσα) οφέλη και το κόστος των DATSs, παρέχοντας μια πιο τεκμηριωμένη βάση για τη λήψη αποφάσεων<font style="vertical-align: inherit;">.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-6">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Για συμβούλους</font>
                                        </font>
                                    </div>
                                    <!--<div class="col-6 text-end"><a role="button" class="btn btn-outline-secondary btn-sm rounded-pill" href="https://gitlab.com/QuantiFarm/advanced-decision-support-for-dat-selection-tool" target="_blank"><i class="bi bi-download me-1"></i>Download</a></div>-->
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool6');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Εργαλείο παρακολούθησης πολιτικής&nbsp;(Policy Monitoring Tool)
                                                </font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            Αυτό το εργαλείο στοχεύει να καλύψει το κενό στη συλλογή δεδομένων με χαμηλή χωρική και χρονική ευκρίνεια σε περιφερειακό επίπεδο, ενσωματώνοντας και υπολογίζοντας μετρήσεις απόδοσης που αποτυπώνουν την εφαρμογή και την παρακολούθηση σχετικών πολιτικών, όπως τα εθνικά στρατηγικά σχέδια της ΚΑΠ και οι στόχοι της Πράσινης Συμφωνίας. Επί του παρόντος, συγκεντρώνει και αποδίδει δεδομένα σε περιφερειακό επίπεδο (LAU ή Commune), αντλώντας πληροφορίες από ανώνυμες και συγκεντρωτικές επιτόπιες μετρήσεις που προέρχονται από τα πιλοτικά (Test Cases) του έργου Quantifarm<font style="vertical-align: inherit;">.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-6">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Για τους υπεύθυνους χάραξης πολιτικής</font>
                                        </font>
                                    </div>
                                    <!--<div class="col-6 text-end"><a role="button" class="btn btn-outline-secondary btn-sm rounded-pill" href="https://gitlab.com/QuantiFarm/policymonitoring-tool" target="_blank"><i class="bi bi-download me-1"></i>Download</a></div>-->
                                </div>
                            </div>
                        </div>

                    </div>
                    <br><br>

                </div>
