                <div class="" style="max-width: 1200px;">

                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="card-title">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">QuantiFarm ponuja nabor orodij za čim večji izkoristek tehnoloških rešitev digitalnega kmetijstva</font>
                                </font>
                            </h5>
                        </div>
                    </div>

                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-2 mt-2">
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool1');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Orodje za priporočila
                                                </font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Interaktivno orodje, ki kmetom in svetovalcem omogoča, da zahtevajo priporočilo za enega ali več DATS-ov glede na značilnosti kmetije, zahtevane vrednosti parametrov DATS-ov in želenih meril priporočila.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-12">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Za kmete in svetovalce</font>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool2');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Kalkulatorji stroškov in koristi
                                                </font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">To orodje je zasnovano za pomoč kmetom in kmetijskim svetovalcem pri analizi finančnih posledic in potencialnih koristi vključevanja različnih DATS-ov v njihove kmetijske dejavnosti.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-12">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Za kmete in svetovalce</font>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool3');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Orodje za primerjalno analizo
                                                </font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">To orodje podpira digitalno beleženje dnevnih kmetijskih praks (namakanje, škropljenja, žetve in gnojenja) in avtomatizira izračun uporabnih kazalnikov uspešnosti. Podpira primerjavo uspešnosti med različnimi gerki in obdobji pridelave ter povezuje rezultate z uporabo DATS-ov.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-12">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Za kmete in svetovalce</font>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool5');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Napredno orodje za podporo odločanju
                                                </font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">To orodje je namenjeno podpori predvsem kmetijskim svetovalcem pri izbiri najprimernejšega DATS-a pod danim nizom pogojev, ki temelji na kombinaciji znanstvenih metod (strateško prilagajanje, analitični hierarhični proces (AHP) in uvedba funkcij kakovosti (QFD)). Ključna ponujena funkcija je, da obravnava pomanjkanje znanja in dokazov o njihovih (neposrednih in posrednih) dejanskih dokazil in stroških.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-12">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Za svetovalce</font>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool6');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Orodje za spremljanje politike
                                                </font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Namen tega orodja je premostiti vrzel pri zbiranju podatkov z nizko prostorsko in časovno razdrobljenostjo na regionalni ravni z integracijo in izračunom meritev uspešnosti, ki odražajo izvajanje in spremljanje ustreznih kmetijskih politik (nacionalni strateški načrti SKP, cilj Green Deal). Trenutno integrira in upodablja podatke na regionalni ravni (LAU ali Commune), pridobljene iz anonimnih in združenih informacij na kraju samem iz izbranih testnih primerov Quantifarm.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-12">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Za oblikovalce politik</font>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br><br>

                </div>
