                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Suositustyökalu on interaktiivinen työkalu, jonka avulla maanviljelijät ja neuvojat saavat tietoa ja suosituksia saatavilla olevista DATSeista käyttämällä kahta tietojen suodatinta:</font>
                                        </font>
                                    </p>
                                    <ul>
                                        <li>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">(1) DATSin parametrisuodatin ja</font>
                                            </font>
                                        </li>
                                        <li>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">(2) Tilan ominaisuudet</font>
                                            </font>
                                        </li>
                                    </ul>

                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">DATS-parametrisuodattimet</font>
                                            </font>
                                        </strong>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                DATSit voidaan suodattaa valitsemalla halutut parametriarvot työkalun vasemmalta puolelta. Mahdollisia parametreja DATS:ien suodattamiseen ovat:
                                            </font>
                                        </font>
                                    </p>
                                    <ul>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Agricultural Sector)</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">&nbsp;maatalouden ala, jota varten DATS on kehitetty</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Toiminnallisuus)</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> DATSin sisältämät toiminnot</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Edut)</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">&nbsp;hyödyt, jotka DATSin käytöllä voidaan saada</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Digitaalinen muoto)</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> DATSin digitaalinen muoto (esim. valokuva-, teksti-, ääni- tai videotiedosto)</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Kieli ja maa</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"></font>
                                            </font><strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">)</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> DATSin tukema kieli ja kohdemaa, jossa käytettäväksi se on tarkoitettu</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Kustannusrakenne)</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> DATSin kustannusrakenne</font>
                                            </font>
                                        </li>
                                    </ul>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Maatilan ominaisuudet</font>
                                            </font>
                                        </strong>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                DATSeja voidaan suositella joidenkin maatilan ominaisuuksien perusteella, jotka valitaan työkalun yläpuolelta.&nbsp; Nämä maatilan ominaisuudet sisältävät:
                                            </font>
                                        </font>
                                    </p>
                                    <ul>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Farm Type)</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> maatilan tuotantosuunta (esim. pelto, maito ja hedelmä)</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Maa)</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> maa, jossa tila sijaitsee</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Kieli)</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> tilan kieli</font>
                                            </font>
                                        </li>
                                    </ul>

                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Suosituksen pyytäminen</font>
                                            </font>
                                        </strong>
                                    </p>

                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Kun DATS-suodattimet ja/tai maatilan ominaisuudet on valittu, voit pyytää suositusta soveltuville DATSeille painamalla "Suositus DATS" -painiketta. Näkyviin tulee luettelo suositelluista DATSeista, jossa on muutama parametri. Kun napsautat DATS-kohtaa, näkyviin tulee tarkempia tietoja.</font>
                                        </font>
                                    </p>
                                    <br>

                                    <div class="row text-center">
                                        <div class="col">
                                            <button type="button" class="btn btn-primary" onclick="window.scrollTo(0, 0);(new bootstrap.Tab(document.getElementById('btnTabResult'))).show();">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Aloita työkalun käyttö</font>
                                                </font>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row text-center">
                                        <h5 class="card-title lh-lg">
                                            <a href="downloads/Recommendation-Tool-Manual.pdf" target="_blank">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Lataa käyttöopas</font>
                                                </font>
                                            </a>
                                        </h5>
                                    </div>

                                    <div class="row text-center">
                                        <p>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Työkalun lähdekoodi löytyy </font>
                                            </font><a href="https://gitlab.com/QuantiFarm/recommendation-tool" target="_blank" class="fw-bold">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">täältä</font>
                                                </font>
                                            </a>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> .</font>
                                            </font>
                                        </p>
                                    </div>
