                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                За саветодавце, алатка за бенчмаркинг ће омогућити унос података који долазе са фарми (подаци из календара као што су наводњавање, прскање, жетва и ђубрење) њихових клијената како би се омогућило боље доношење одлука и омогућило поређење између различитих фарми. Алат ће израчунати метрику учинка и индикаторе коришћењем достављених података и вратити их Саветодавцу на даље проучавање. Корисник ће моћи да упореди са употребом израчунатих индикатора учинка:
                                            </font>
                                        </font>
                                    </p>
                                    <ol type="a">
                                        <li>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">две различите парцеле или групе парцела (имајте на уму да поље за ИД парцеле може добити као улаз вредности раздвојене зарезима и израчунати индикаторе помоћу календара фарме са ових парцела), </font>
                                            </font>
                                        </li>
                                        <li>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">исту парцелу за различите временске периоде.</font>
                                            </font>
                                        </li>
                                    </ol>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Да би користио алат, корисник се мора регистровати и пријавити.</font>
                                        </font>
                                    </p>

                                    <div class="row text-center">
                                        <h5 class="card-title lh-lg">
                                            <a href="downloads/Benchmarking-Tool-Manual.pdf" target="_blank">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Преузмите упутство за употребу</font>
                                                </font>
                                            </a>
                                        </h5>
                                    </div>

                                    <div class="row text-center">
                                        <h5 class="card-title lh-lg">
                                            <a href="downloads/benchmarking_example_datasets.zip">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Преузмите примере датотека</font>
                                                </font>
                                            </a>
                                        </h5>
                                    </div>

                                    <div class="row text-center mt-3">
                                        <p>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Изворни код алата је доступан </font>
                                            </font><a href="https://gitlab.com/QuantiFarm/benchmarking-tool" target="_blank" class="fw-bold">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">овде</font>
                                                </font>
                                            </a>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> .</font>
                                            </font>
                                        </p>
                                    </div>
