                                    <p>
                                        <font style="vertical-align: inherit;">
                                            Για τους συμβούλους, το Εργαλείο Συγκριτικής Αξιολόγησης (Benchmarking Tool) επιτρέπει την προσθήκη δεδομένων από τα αγροκτήματα (Ημερολογιακά Δεδομένα όπως αρδεύσεις, ψεκασμοί, συγκομιδές και λιπάσματα) των πελατών τους, προκειμένου να διευκολυνθεί η λήψη αποφάσεων και η σύγκριση μεταξύ διαφορετικών εκμεταλλεύσεων. Το εργαλείο υπολογίζει μετρήσεις απόδοσης και δείκτες χρησιμοποιώντας τα παρεχόμενα δεδομένα και τα επιστρέφει στον σύμβουλο για περαιτέρω ανάλυση. Ο χρήστης χρησιμοποιώντας τους υπολογισμένους δείκτες απόδοσης, θα μπορεί να συγκρίνει τα εξής<font style="vertical-align: inherit;">
                                                :
                                            </font>
                                        </font>
                                    </p>
                                    <ol type="a">
                                        <li>
                                            <font style="vertical-align: inherit;">δύο διαφορετικά αγροτεμάχια ή ομάδες αγροτεμαχίων: Το πλαίσιο εισαγωγής αναγνωριστικού αγροτεμαχίου δέχεται τιμές διαχωρισμένες με κόμμα και υπολογίζει τους δείκτες, χρησιμοποιώντας τα δεδομένα από τα αντίστοιχα ημερολόγια αγροτεμαχίων,</font>
                                        </li>
                                        <li>
                                            <font style="vertical-align: inherit;">
                                                το ίδιο αγροτεμάχιο για διαφορετικές χρονικές περιόδους<font style="vertical-align: inherit;">.</font>
                                            </font>
                                        </li>
                                    </ol>
                                    <p>
                                        Για τη χρήση του εργαλείου, απαιτείται εγγραφή και σύνδεση.
                                    </p>

                                    <div class="row text-center">
                                        <h5 class="card-title lh-lg">
                                            <a href="downloads/Benchmarking-Tool-Manual.pdf" target="_blank">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Κατεβάστε το εγχειρίδιο χρήστη (Διαθέσιμο στα Αγγλικά)</font>
                                                </font>
                                            </a>
                                        </h5>
                                    </div>

                                    <div class="row text-center">
                                        <h5 class="card-title lh-lg">
                                            <a href="downloads/benchmarking_example_datasets.zip">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Λήψη αρχείων παραδείγματος (Διαθέσιμο στα Αγγλικά)</font>
                                                </font>
                                            </a>
                                        </h5>
                                    </div>

                                    <div class="row text-center mt-3">
                                        <p>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Ο πηγαίος κώδικας του εργαλείου είναι διαθέσιμος </font>
                                            </font><a href="https://gitlab.com/QuantiFarm/benchmarking-tool" target="_blank" class="fw-bold">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">εδώ.</font>
                                                </font>
                                            </a>
                                        </p>
                                    </div>
