                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">"Napredno orodje za podporo odločanja"&nbsp;je namenjeno pomoči svetovalcem pri podpori njihovih strank pri odločanju, kateri DATS je najprimernejši za njihovo kmetijo, ob upoštevanju njihovih posebnih potreb, strateških ciljev in preferenc ter zunanjega okolja, v katerem delujejo. Zasnovan je bil tako, da obravnava eno ključnih ovir pri sprejemanju digitalnih tehnologij, to je pomanjkanje znanja in dokazov o njihovih (neposrednih in posrednih) dejanskih dokazih in stroških.</font>
                        </font>
                    </p>
                    <br><br>

                    <div class="row text-center">
                        <div class="col">
                            <a type="button" role="button" class="btn btn-primary" href="downloads/DATs Advanced Decision Support Tool v1.0.xlsx" download="">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Prenesite »Napredno orodje za podporo odločanju«</font>
                                </font>
                            </a>
                        </div>
                    </div>

                    <div class="row text-center">
                        <h5 class="card-title lh-lg">
                            <a href="downloads/Advanced-Decision-Support-Tool-Manual.pdf" target="_blank">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Prenesite uporabniški priročnik</font>
                                </font>
                            </a>
                        </h5>
                    </div>

                    <div class="row text-center">
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Izvorna koda orodja je na voljo </font>
                            </font><a href="https://gitlab.com/QuantiFarm/advanced-decision-support-for-dat-selection-tool" target="_blank" class="fw-bold">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">tukaj</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> .</font>
                            </font>
                        </p>
                    </div>
