                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">De Beleidsmonitoringtool biedt beleidsmakers een visueel dashboard voor beleidsmonitoring, waarmee analytische rapporten kunnen worden gegenereerd op basis van zoekopdrachten, inclusief samenvattende tabellen en grafische diagrammen. De tool integreert en rendert op regionaal (LAU of Commune) niveau gegevens die zijn afgeleid van geanonimiseerde en geaggregeerde in-situ informatie van 10 geselecteerde Quantifarm testcases. Dit omvat informatie van percelen die gebruikmaken van Digital Agriculture Technologies (DATS), percelen die geen gebruikmaken van DATS, uitvoer van landbouwkalenders en digitale logboeken. EO dataproducten (bijvoorbeeld gewastype, ESA landgebruik), open Europese GIS datasets (bijvoorbeeld GISCO, EEA) en open data van EU-beleidsmonitoringdiensten (bijvoorbeeld FADN, Eurostat) zijn gebruikt als input om indicatoren (KPI's), variabelen of drempelwaarden te berekenen voor subjectieve kwalitatieve en kwantitatieve vergelijkingen van regionale prestaties met betrekking tot beleid.</font>
                        </font>
                    </p>
                    <br><br>

                    <div class="row text-center">
                        <div class="col">
                            <a type="button" role="button" class="btn btn-primary" href="/pmt" target="_blank">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Open de Beleidsmonitoringtool</font>
                                </font>
                            </a>
                        </div>
                    </div>

                    <div class="row text-center">
                        <h5 class="card-title lh-lg">
                            <a href="downloads/Policy-monitoring-Tool-Manual.pdf" target="_blank">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Download de gebruikershandleiding</font>
                                </font>
                            </a>
                        </h5>
                    </div>

                    <div class="row text-center">
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">De broncode van de tool is </font>
                            </font><a href="https://gitlab.com/QuantiFarm/policymonitoring-tool" target="_blank" class="fw-bold">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">hier</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> beschikbaar.</font>
                            </font>
                        </p>
                    </div>
