                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                De tool 'Kosten- en batencalculators' is ontworpen om boeren en landbouwadviseurs te helpen bij het analyseren van de financiële implicaties en potentiële voordelen van het integreren van verschillende DATS in hun landbouwactiviteiten. Deze geïntegreerde tool voldoet op een kundige manier aan de uiteenlopende vereisten van zowel akkerbouw- als veehouderijsystemen, met specifieke rekenmodules die op elk systeem zijn afgestemd.
                                            </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                Binnen de tool kunnen gebruikers een uitgebreide database met DATS verkennen, er een selecteren en, nadat ze de benodigde invoer voor de rekenmodules hebben voltooid, biedt de tool essentiële informatie, zoals Rendement op Investering (ROI) en Netto Winst.
                                            </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                Dit helpt eindgebruikers een realistisch beeld te krijgen van hun potentiële investering in een DATS.
                                            </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                De 'Kosten- en batencalculators' vormen een cruciaal onderdeel van de QuantiFarm Toolkit en vormen een essentiële, indicatieve gids voor boeren en adviseurs. Ze helpen hen inzicht te krijgen in de economische haalbaarheid en potentiële winstgevendheid van DATS gedurende hun operationele levenscyclus.
                                            </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Om de tool te kunnen gebruiken, moet de gebruiker zich registreren en inloggen.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <u>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Overwegingen en disclaimers voor het gebruik van de kosten- en batencalculators</font>
                                                </font>
                                            </u>
                                        </strong>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Gemiddelde prijzen:</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> De gepresenteerde aankoopkosten zijn gemiddelde prijzen en mogen niet als vast of gegarandeerd worden beschouwd. Eindgebruikers dienen actuele offertes op te vragen bij DATS-aanbieders of handelaars.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Bron van gegevens over voordelen:</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> Economische en milieuvoordelen zijn gebaseerd op wetenschappelijke publicaties of beweringen van aanbieders van specifieke omstandigheden en locaties. Ze zijn mogelijk niet universeel van toepassing en de werkelijke voordelen kunnen variëren.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Uitsluiting van belastingen/toeslagen:</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> De rekenmachine houdt geen rekening met belastingen of andere specifieke toeslagen die van toepassing kunnen zijn op de locatie van de eindgebruiker.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Doel van de tool:</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> De rekenmachine is een indicatief hulpmiddel dat inzicht geeft in mogelijke kosten en baten, ter aanvulling op de belangrijkste aanbevelingstool op basis van het QuantiFarm Assessment Framework.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Besluitvorming:</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> Deze tool biedt waardevolle informatie ter ondersteuning van de besluitvorming bij de invoering van DATS. Zo kunnen belanghebbenden de opties identificeren die het beste bij hun specifieke behoeften passen.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <em>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">De Smart Farming Technologies Group van de Agricultural University of Athens onderhoudt dit platform om het publiek op de juiste manier te informeren en technologische oplossingen voor te stellen. De informatie die op dit online platform wordt verstrekt, is objectief geformuleerde wetenschappelijke data, die uit verschillende bronnen is gehaald (zoals wetenschappelijke artikelen, onderzoeksresultaten, producten en diensten van bedrijven en/of organisaties), en geeft geen persoonlijke beoordelingen of meningen van de onderzoekers weer. Elk lid van het onderzoeksteam draagt ​​geen enkele verantwoordelijkheid voor de handelingen of nalatigheid van degenen die dit platform bezoeken, en niemand heeft recht op een claim voor schadelijk vertrouwen op enig advies of informatie die is verstrekt of uitgedrukt.</font>
                                            </font>
                                        </em>
                                    </p>

                                    <div class="row text-center">
                                        <h5 class="card-title lh-lg">
                                            <a href="downloads/Cost-and-Benefit-Calculators-Manual.pdf" target="_blank">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Download de gebruikershandleiding</font>
                                                </font>
                                            </a>
                                        </h5>
                                    </div>

                                    <div class="row text-center">
                                        <p>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">De broncode van de tool is </font>
                                            </font><a href="https://gitlab.com/QuantiFarm/cost-benefit-calculator" target="_blank" class="fw-bold">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">hier</font>
                                                </font>
                                            </a>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> beschikbaar.</font>
                                            </font>
                                        </p>
                                    </div>
