                                    <p>
                                        Το "Εργαλείο Συστάσεων" (Recommendation Tool) είναι ένα διαδραστικό εργαλείο που επιτρέπει στους αγρότες και τους συμβούλους να αποκτούν πληροφορίες για τις διαθέσιμες λύσεις ψηφιακής γεωργίας (DATSs) και να εντοπίζουν τις πιο κατάλληλες, λαμβάνοντας υπόψη:
                                    </p>
                                    <ul>
                                        <li>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">(1) Παραμέτρους - χαρακτηριστικά των επιθυμητών λύσεων</font>
                                            </font>
                                        </li>
                                        <li>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">(2) Χαρακτηριστικά της εκμετάλλευσης τους</font>
                                            </font>
                                        </li>
                                    </ul>

                                    <p> <strong>Παράμετροι - χαρακτηριστικά των επιθυμητών λύσεων </strong></p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            Τα DATSs μπορούν να φιλτραριστούν επιλέγοντας τις επιθυμητές τιμές παραμέτρων στην αριστερή πλευρά του εργαλείου. Οι διαθέσιμες παράμετροι για το φιλτράρισμα των DATSs περιλαμβάνουν<font style="vertical-align: inherit;">
                                                :
                                            </font>
                                        </font>
                                    </p>
                                    <ul>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    Αγροτικός Τομέας<font style="vertical-align: inherit;">:</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> ο τομέας στον οποίο στοχεύει το DATS</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Λειτουργικότητα:</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> η σχετική λειτουργικότητα του DATS</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Οφέλη:</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> τα οφέλη που μπορείτε να αποκτήσετε χρησιμοποιώντας το DATS</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Ψηφιακή φόρμα:</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> η ψηφιακή μορφή του DATS</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Γλώσσα</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> και </font>
                                            </font><strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Χώρα:&nbsp;</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">η υποστηριζόμενη γλώσσα και η χώρα-στόχος του DATS</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Δομή Κόστους:</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> η δομή κόστους των DATS</font>
                                            </font>
                                        </li>
                                    </ul>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Υποστηριζόμενες τιμές χαρακτηριστικών του αγροκτήματος</font>
                                            </font>
                                        </strong>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            Τα DATSs μπορούν να προταθούν με βάση ορισμένες τιμές χαρακτηριστικών του αγροκτήματος, οι οποίες μπορούν να επιλεγούν στην επάνω πλευρά του εργαλείου. Τα χαρακτηριστικά της υποστηριζόμενης εκμετάλλευσης περιλαμβάνουν<font style="vertical-align: inherit;">
                                                :
                                            </font>
                                        </font>
                                    </p>
                                    <ul>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Τύπος αγροκτήματος:</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> το είδος του αγροκτήματος (αρόσιμα, γαλακτοκομικά και φρούτα)</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Χώρα:&nbsp;</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">η χώρα στην οποία βρίσκεται το αγρόκτημα</font>
                                            </font>
                                        </li>
                                        <li>
                                            <strong>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Γλώσσα:</font>
                                                </font>
                                            </strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> η γλώσσα της χώρας στην οποία βρίσκεται το αγρόκτημα</font>
                                            </font>
                                        </li>
                                    </ul>

                                    <p> <strong>Αίτηση για σύσταση</strong> </p>

                                    <p>
                                        <font style="vertical-align: inherit;">
                                            Μόλις επιλεγούν τα φίλτρα παραμέτρων DATSs και/ή οι τιμές των χαρακτηριστικών του αγροκτήματος, μπορεί να ζητηθεί σύσταση για τα ισχύοντα DATSs πατώντας το κουμπί "Σύσταση DATSs" (Recommendation DATSs). Θα εμφανιστεί μια λίστα με στήλες που περιλαμβάνει τα προτεινόμενα DATSs και ορισμένες παραμέτρους. Κάνοντας κλικ σε κάποιο DATS, θα εμφανιστούν πιο λεπτομερείς πληροφορίες για αυτό<font style="vertical-align: inherit;">.</font>
                                        </font>
                                    </p>
                                    <br>

                                    <div class="row text-center">
                                        <div class="col">
                                            <button type="button" class="btn btn-primary" onclick="window.scrollTo(0, 0);(new bootstrap.Tab(document.getElementById('btnTabResult'))).show();">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Ξεκινήστε να χρησιμοποιείτε το εργαλείο</font>
                                                </font>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row text-center">
                                        <h5 class="card-title lh-lg">
                                            <a href="downloads/Recommendation-Tool-Manual.pdf" target="_blank">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Κατεβάστε το εγχειρίδιο χρήστη (Διαθέσιμο στα Αγγλικά)</font>
                                                </font>
                                            </a>
                                        </h5>
                                    </div>

                                    <div class="row text-center">
                                        <p>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Ο πηγαίος κώδικας του εργαλείου είναι διαθέσιμος </font>
                                            </font><a href="https://gitlab.com/QuantiFarm/recommendation-tool" target="_blank" class="fw-bold">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">εδώ.</font>
                                                </font>
                                            </a>
                                        </p>
                                    </div>
