                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">L’outil d’aide à la décision avancée vise à aider les conseillers à accompagner leurs clients à décider quel STDA est la plus appropriée pour leur exploitation, en tenant compte de leurs besoins spécifiques, de leurs objectifs stratégiques et de leurs préférences, ainsi que de l’environnement externe dans lequel ils évoluent. Il a été conçu pour remédier à l’un des principaux obstacles à l’adoption des technologies numériques, à savoir le manque de connaissances et de preuves concernant leurs bénéfices et coûts réels (directs et indirects).</font>
                        </font>
                    </p>
                    <br><br>

                    <div class="row text-center">
                        <div class="col">
                            <a type="button" role="button" class="btn btn-primary" href="downloads/DATs Advanced Decision Support Tool v1.0.xlsx" download="">Télécharger « Outil d'aide à la décision avancée »</a>
                        </div>
                    </div>

                    <div class="row text-center">
                        <h5 class="card-title lh-lg"><a href="downloads/Advanced-Decision-Support-Tool-Manual.pdf" target="_blank">Télécharger le manuel d'utilisation (disponible en anglais)</a></h5>
                    </div>

                    <div class="row text-center">
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Le code source de l'outil est disponible </font>
                            </font><a href="https://gitlab.com/QuantiFarm/advanced-decision-support-for-dat-selection-tool" target="_blank" class="fw-bold">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">ici</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> .</font>
                            </font>
                        </p>
                    </div>
