                <div class="" style="max-width: 1200px;">

                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="card-title">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">КвантиФарм нуди скуп алата за максимално искоришћење технолошких решења за дигиталну пољопривреду</font>
                                </font>
                            </h5>
                        </div>
                    </div>

                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-2 mt-2">
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool1');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Саветодавни алат
                                                </font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Интерактивни алат који омогућава пољопривредним произвођачима и саветодавцима да добију препоруку за један или више ДАТС-ова у односу на задате карактеристике фарме, параметара дигиталне технологије и осталих критеријума.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-12">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">За пољопривреднике и саветодавце</font>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool2');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Калкулатори трошкова и користи
                                                </font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Овај алат је дизајниран да помогне пољопривредницима и пољопривредним саветодавцима у анализи финансијских ефеката и потенцијалних користи од интеграције различитих ДАТС-а у њихове пољопривредне операције.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-12">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">За пољопривреднике и саветодавце</font>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool3');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Алат за бенчмаркинг
                                                </font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Овај алат подржава дигитално евидентирање свакодневних пољопривредних пракси (наводњавања, прскања, жетве и ђубрења) и аутоматизује израчунавање корисних индикатора учинка. Подржава поређење перформанси између различитих парцела и периода култивације повезујући резултате са употребом ДАТС-а.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-12">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">За пољопривреднике и саветодавце</font>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool5');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Напредна алатка за подршку у одлучивању
                                                </font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Овај алат има за циљ да подржи углавном пољопривредне саветодавце&nbsp; у избору најприкладнијег ДАТС-а под датим скупом услова, на основу комбинације научних метода (стратешко прилагођавање, аналитички хијерархијски процес (АХП) и имплементација функције квалитета (КФД)). Кључна карактеристика овог алата је да се обраћа чињеници о постојању недостатка знања и доказа у вези са њиховим (директним и индиректним) стварним користима и трошковима.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-12">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">За саветодавце</font>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool6');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Алат за мониторинг политике
                                                </font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Овај алат има за циљ да премости јаз између процеса прикупљања података са ниском просторном и временском гранулираношћу на регионалном нивоу интеграцијом и израчунавањем метрика учинка који одражавају имплементацију и мониторинг релевантних политика (ЦАП национални стратешки планови, циљ Зеленог договора). Тренутно интегрише и приказује на регионалном нивоу (ЛАУ или комуна) податке изведене из анонимних и агрегираних ин-ситу информација из одабраних Квантифарм тест случајева.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-12">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">За креаторе политике</font>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br><br>

                </div>
