                                    <p>
                                        <font style="vertical-align: inherit;">
                                            Το εργαλείο υπολογισμού κόστους και οφέλους (Cost and Benefit Calculators) έχει σχεδιαστεί για να βοηθά αγρότες και αγροτικούς συμβούλους στην ανάλυση των οικονομικών επιπτώσεων και των πιθανών οφελών από την ενσωμάτωση διαφόρων λύσεων ψηφιακής γεωργίας (DATSs) στις γεωργικές τους δραστηριότητες. Το εργαλείο αυτό καλύπτει τις ανάγκες τόσο των συστημάτων καλλιέργειας όσο και των συστημάτων κτηνοτροφίας, προσφέροντας συγκεκριμένες μονάδες μέτρησης προσαρμοσμένες σε κάθε περίπτωση<font style="vertical-align: inherit;">
                                                .
                                            </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            Μέσω του εργαλείου, οι χρήστες μπορούν να εξερευνήσουν ένα ολοκληρωμένο αποθετήριο τεχνολογιών DATSs, να επιλέξουν τη συγκεκριμένη τεχνολογία και, αφού συμπληρώσουν τα απαραίτητα πεδία, να λάβουν κρίσιμες πληροφορίες, όπως η απόδοση επένδυσης (ROI) και το καθαρό όφελος<font style="vertical-align: inherit;">.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            Αυτό βοηθά τους τελικούς χρήστες να αποκτήσουν μια ρεαλιστική εικόνα για την πιθανή επένδυσή τους σε μια συγκεκριμένη ψηφιακή τεχνολογία<font style="vertical-align: inherit;">
                                                .
                                            </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            Ως κρίσιμο συστατικό του QuantiFarm Toolkit, οι «Υπολογιστές κόστους και οφέλους» αποτελούν έναν ουσιαστικό, ενδεικτικό οδηγό για αγρότες και συμβούλους, βοηθώντας τους να κατανοήσουν την οικονομική σκοπιμότητα και την πιθανή κερδοφορία των DATSs καθ' όλη τη διάρκεια του κύκλου ζωής τους<font style="vertical-align: inherit;">
                                                .
                                            </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            Για τη χρήση του εργαλείου, ο χρήστης πρέπει να εγγραφεί και να συνδεθεί<font style="vertical-align: inherit;">.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <u>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Διευκρινήσεις και Αποποίηση ευθυνών για τη χρήση του εργαλείου</font>
                                                </font>
                                            </u>
                                        </strong>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Μέσες τιμές:</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> ΤΤα κόστη αγοράς που παρουσιάζονται είναι μέσες τιμές και δεν πρέπει να θεωρούνται σταθερές ή εγγυημένες. Οι τελικοί χρήστες θα πρέπει να αναζητούν πραγματικές προσφορές από παρόχους ή προμηθευτές DATS.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Πηγή δεδομένων οφέλους:</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            Τα οικονομικά και περιβαλλοντικά οφέλη βασίζονται σε επιστημονικές δημοσιεύσεις ή ισχυρισμούς παρόχων από συγκεκριμένες συνθήκες και τοποθεσίες. Αυτά τα οφέλη ενδέχεται να μην ισχύουν καθολικά και τα πραγματικά οφέλη μπορεί να διαφέρουν<font style="vertical-align: inherit;">.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Εξαίρεση φόρων/τελών:</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            Η αριθμομηχανή δεν περιλαμβάνει φόρους ή άλλες συγκεκριμένες χρεώσεις που ενδέχεται να ισχύουν για την τοποθεσία του τελικού χρήστη<font style="vertical-align: inherit;">.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Σκοπός του εργαλείου:</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            Η αριθμομηχανή είναι ένα ενδεικτικό εργαλείο που παρέχει πληροφορίες για τα πιθανά κόστη και οφέλη, συμπληρώνοντας το κύριο εργαλείο συστάσεων που βασίζεται στο Πλαίσιο Αξιολόγησης του QuantiFarm<font style="vertical-align: inherit;">.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Λήψη αποφάσεων:</font>
                                            </font>
                                        </strong>
                                        <font style="vertical-align: inherit;">
                                            Αυτό το εργαλείο προσφέρει πολύτιμες πληροφορίες για την υποστήριξη της λήψης αποφάσεων κατά την υιοθέτηση των DATSs, βοηθώντας τους ενδιαφερόμενους να εντοπίσουν τις επιλογές που ταιριάζουν καλύτερα στις συγκεκριμένες ανάγκες τους<font style="vertical-align: inherit;">.</font>
                                        </font>
                                    </p>
                                    <p>
                                        <em>
                                            Ο Όμιλος Smart Farming Technologies του Γεωπονικού Πανεπιστημίου Αθηνών διαχειρίζεται αυτή την πλατφόρμα με σκοπό την ενημέρωση του κοινού και τη σύσταση τεχνολογικών λύσεων. Οι πληροφορίες που παρέχονται αποτελούν αντικειμενικά διατυπωμένα επιστημονικά δεδομένα, τα οποία προέρχονται από διάφορες πηγές, όπως επιστημονικά άρθρα, ερευνητικά αποτελέσματα, καθώς και προϊόντα και υπηρεσίες εταιρειών ή/και οργανισμών. Δεν εκφράζουν προσωπικές εκτιμήσεις ή απόψεις των ερευνητών. Κανένα μέλος της ερευνητικής ομάδας δεν φέρει ευθύνη για ενέργειες ή παραλείψεις των επισκεπτών της πλατφόρμας, ούτε μπορεί να απαιτηθεί αποζημίωση για οποιαδήποτε ζημία προκύψει από συμβουλή ή πληροφορία που παρέχεται.<font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"></font>
                                            </font>
                                        </em>
                                    </p>

                                    <div class="row text-center">
                                        <h5 class="card-title lh-lg">
                                            <a href="downloads/Cost-and-Benefit-Calculators-Manual.pdf" target="_blank">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Κατεβάστε το εγχειρίδιο χρήστη (Διαθέσιμο μόνο στα Αγγλικά)</font>
                                                </font>
                                            </a>
                                        </h5>
                                    </div>

                                    <div class="row text-center">
                                        <p>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Ο πηγαίος κώδικας του εργαλείου είναι διαθέσιμος </font>
                                            </font><a href="https://gitlab.com/QuantiFarm/cost-benefit-calculator" target="_blank" class="fw-bold">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">εδώ.</font>
                                                </font>
                                            </a>
                                        </p>
                                    </div>
