                <div class="" style="max-width: 1200px;">

                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="card-title">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">QuantiFarm tarjoaa joukon työkaluja, joiden avulla saat parhaan hyödyn digitaalisen maatalouden teknologisista ratkaisuista</font>
                                </font>
                            </h5>
                        </div>
                    </div>

                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-2 mt-2">
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool1');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Suositustyökalu (Recommendations Tool)
                                                </font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Vuorovaikutteinen työkalu, jonka avulla viljelijät ja neuvojat voivat pyytää suositusta yhdelle tai useammalle DATS:lle tilan ominaisuuksien, vaadittujen DATS-parametriarvojen ja haluttujen suosituskriteerien perusteella.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-12">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Viljelijöille ja neuvojille</font>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool2');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Kustannus- ja hyötylaskurit (Cost and Benefit Calculators)
                                                </font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Tämä työkalu on suunniteltu auttamaan maanviljelijöitä ja maatalouden neuvonantajia analysoimaan taloudellisia vaikutuksia ja mahdollisia etuja, joita aiheutuu erilaisten DATSien integroimisesta tilan maataloustoimintaan.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-12">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Viljelijöille ja neuvojille</font>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool3');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Vertailutyökalu (Benchmarking Tool)</font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Tämä työkalu tukee päivittäisten viljelykäytäntöjen (kastelut, ruiskutukset, sadonkorjuut ja lannoitukset) digitaalista tallennusta ja automatisoi hyödyllisten suoritusindikaattoreiden laskennan. Se tukee eri lohkojen ja viljelyjaksojen suorituskyvyn vertailua yhdistämällä tulokset DATSien käyttöön.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-12">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Viljelijöille ja neuvojille</font>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool5');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Edistynyt päätöksenteon tukityökalu (Advanced Decision Support Tool)</font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Tämän työkalun tarkoituksena on tukea pääasiassa maatilojen neuvojia sopivimpien DATSien valinnassa tietyissä olosuhteissa perustuen tieteellisten menetelmien yhdistelmään (Strategic Fit, Analytic Hierarchical Process (AHP) ja Quality Function Deployment (QFD)). Keskeinen tarjottu ominaisuus on se, että annetaan tietoa ja todisteita DATSien (suorien ja välillisten) todellisista hyödyistä ja kustannuksista.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-12">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Neuvojille</font>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-0 h-100">
                                <div class="card-body">
                                    <div role="button" onclick="gotoTool(role_xx, 'tool6');">

                                        <h5 class="card-title">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Politiikkaseuranta-työkalu (Policy Monitoring Tool)</font>
                                            </font>
                                        </h5>
                                    </div>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Tällä työkalulla pyritään kuromaan umpeen karkealla maantieteellisellä tasolla tiedonkeruun aukkoja integroimalla ja laskemalla suorituskykymittareita, jotka kuvastavat asiaankuuluvien politiikkojen täytäntöönpanoa ja seurantaa (YMP:n kansalliset strategiasuunnitelmat, Green Deal -tavoite). Tällä hetkellä se integroi ja visualisoi aluetasolla (LAU eli paikallinen hallintoyksikkö tai kunta) tiedot, jotka on johdettu valituttujen Quantifarm-testitapausten anonymisoiduista ja koostetuista in situ -tiedoista.</font>
                                        </font>
                                    </p>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <div class="col-12">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Politiikkapäättäjille</font>
                                        </font>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br><br>

                </div>
