                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                Pour les conseillers, un outil d'analyse comparative permettra d'ajouter des données provenant des exploitations agricoles (données calendaires telles que les irrigations, les pulvérisations, les récoltes et les fertilisations) de leurs clients afin de permettre une meilleure prise de décision et de permettre la comparaison entre les différentes exploitations. L'outil calculera des mesures et des indicateurs de performance grâce à l'utilisation des données fournies et les renverra au conseiller pour une étude plus approfondie. L'utilisateur pourra comparer, avec l'utilisation des indicateurs de performance calculés :
                                            </font>
                                        </font>
                                    </p>
                                    <ol type="a">
                                        <li>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">deux parcelles ou groupes de parcelles différents (veuillez noter que la zone de texte d'identification de la parcelle peut recevoir en entrée des valeurs séparées par des virgules et calculer les indicateurs à l'aide des calendriers agricoles de ces parcelles), </font>
                                            </font>
                                        </li>
                                        <li>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">la même parcelle pour des périodes différentes.</font>
                                            </font>
                                        </li>
                                    </ol>
                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Pour utiliser l’outil, l’utilisateur doit s’inscrire et se connecter.</font>
                                        </font>
                                    </p>

                                    <div class="row text-center">
                                        <h5 class="card-title lh-lg"><a href="downloads/Benchmarking-Tool-Manual.pdf" target="_blank">Télécharger le manuel d'utilisation (disponible en anglais)</a></h5>
                                    </div>

                                    <div class="row text-center">
                                        <h5 class="card-title lh-lg">
                                            <a href="downloads/benchmarking_example_datasets.zip">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Télécharger des fichiers d'exemple</font>
                                                </font>
                                            </a>
                                        </h5>
                                    </div>

                                    <div class="row text-center mt-3">
                                        <p>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Le code source de l'outil est disponible </font>
                                            </font><a href="https://gitlab.com/QuantiFarm/benchmarking-tool" target="_blank" class="fw-bold">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">ici</font>
                                                </font>
                                            </a>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> .</font>
                                            </font>
                                        </p>
                                    </div>
