                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">„Напредни алат за подршку у одлучивању“ има за циљ да помогне саветодавцима да подрже своје клијенте у одлучивању који је ДАТС најприкладнији за њихову фарму, узимајући у обзир њихове специфичне потребе, стратешке циљеве и преференције, као и спољно окружење у којем раде. Осмишљен је да се позабави једном од кључних препрека у усвајању дигиталних технологија, а то је недостатак знања и доказа о њиховим (директним и индиректним) стварним користима и трошковима.</font>
                        </font>
                    </p>
                    <br><br>

                    <div class="row text-center">
                        <div class="col">
                            <a type="button" role="button" class="btn btn-primary" href="downloads/DATs Advanced Decision Support Tool v1.0.xlsx" download="">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Преузмите „Напредни алат за подршку одлучивању“</font>
                                </font>
                            </a>
                        </div>
                    </div>

                    <div class="row text-center">
                        <h5 class="card-title lh-lg">
                            <a href="downloads/Advanced-Decision-Support-Tool-Manual.pdf" target="_blank">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Преузмите упутство за употребу</font>
                                </font>
                            </a>
                        </h5>
                    </div>

                    <div class="row text-center">
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Изворни код алата је доступан </font>
                            </font><a href="https://gitlab.com/QuantiFarm/advanced-decision-support-for-dat-selection-tool" target="_blank" class="fw-bold">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">овде</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> .</font>
                            </font>
                        </p>
                    </div>
