                    <p>
                        <font style="vertical-align: inherit;">
                            Το εργαλείο παρακολούθησης πολιτικής παρέχει στους υπεύθυνους χάραξης πολιτικής έναν οπτικό πίνακα ελέγχου, ο οποίος επιτρέπει τη δημιουργία αναλυτικών αναφορών βάσει ερωτημάτων, συμπεριλαμβανομένων συνοπτικών πινάκων καθώς και γραφικών παραστάσεων. Το εργαλείο ενσωματώνει και απεικονίζει σε περιφερειακό επίπεδο (LAU ή Commune) δεδομένα που προέρχονται από ανώνυμες και συγκεντρωτικές επιτόπιες πληροφορίες από 10 πιλοτικά (Test Cases) του έργου Quantifarm. Αυτά τα δεδομένα περιλαμβάνουν πληροφορίες από αγροτεμάχια που χρησιμοποιούν Λύσεις Ψηφιακής Γεωργίας (DATSs), αγροτεμάχια που δεν χρησιμοποιούν DATSs, εξαγωγές ημερολογίου αγροτικών εκμεταλλεύσεων και ψηφιακά ημερολόγια. Προϊόντα δεδομένων ΕΟ (π.χ. τύπος καλλιέργειας, χρήση γης ESA), ανοικτά ευρωπαϊκά σύνολα δεδομένων ΓΣΠ (π.χ. GISCO, ΕΟΠ) και ανοικτά δεδομένα από υπηρεσίες παρακολούθησης της πολιτικής της ΕΕ (π.χ. FADN, Eurostat) χρησιμοποιήθηκαν ως εισροές για τον υπολογισμό δεικτών (KPI), μεταβλητών ή τον καθορισμό ορίων για υποκειμενικές ποιοτικές και ποσοτικές συγκρίσεις των περιφερειακών επιδόσεων που σχετίζονται με την πολιτική<font style="vertical-align: inherit;">.</font>
                        </font>
                    </p>
                    <br><br>

                    <div class="row text-center">
                        <div class="col">
                            <a type="button" role="button" class="btn btn-primary" href="/pmt" target="_blank">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Εργαλείο Παρακολούθησης Πολιτικής</font>
                                </font>
                            </a>
                        </div>
                    </div>

                    <div class="row text-center">
                        <h5 class="card-title lh-lg">
                            <a href="downloads/Policy-monitoring-Tool-Manual.pdf" target="_blank">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Κατεβάστε το εγχειρίδιο χρήστη (Διαθέσιμο στα Αγγλικά)</font>
                                </font>
                            </a>
                        </h5>
                    </div>

                    <div class="row text-center">
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Ο πηγαίος κώδικας του εργαλείου είναι διαθέσιμος </font>
                            </font><a href="https://gitlab.com/QuantiFarm/policymonitoring-tool" target="_blank" class="fw-bold">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">εδώ.</font>
                                </font>
                            </a>
                        </p>
                    </div>
