                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                Za svetovalce bo orodje za analizo podatkov omogočilo dodajanje podatkov, ki prihajajo s kmetij (koledarski podatki, kot so namakanje, škropljenja, žetve in gnojenja) njihovih strank, da bi omogočili boljše odločanje in primerjavo med različnimi kmetijami. Orodje bo izračunalo meritve uspešnosti in kazalnike z uporabo posredovanih podatkov, ter jih vrnilo svetovalcu v nadaljnjo študijo. Uporabnik bo lahko primerjal z uporabo izračunanih kazalnikov uspešnosti:
                                            </font>
                                        </font>
                                    </p>

                                    <ol style="list-style-type: lower-alpha;">
                                        <li>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">dveh različnih gerkov ali skupine gerkov (upoštevajte ID gerka, lahko dobi kot vnos vrednosti, ločene z vejico, in izračuna kazalnike z uporabo kmetijskih koledarjev iz teh gerkov), </font>
                                            </font>
                                        </li>
                                        <li>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">isti paket za različna časovna obdobja.</font>
                                            </font>
                                        </li>
                                    </ol>


                                    <p>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">Za uporabo orodja se mora uporabnik registrirati in prijaviti.</font>
                                        </font>
                                    </p>

                                    <div class="row text-center">
                                        <h5 class="card-title lh-lg">
                                            <a href="downloads/Benchmarking-Tool-Manual.pdf" target="_blank">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Prenesite uporabniški priročnik</font>
                                                </font>
                                            </a>
                                        </h5>
                                    </div>

                                    <div class="row text-center">
                                        <h5 class="card-title lh-lg">
                                            <a href="downloads/benchmarking_example_datasets.zip">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Prenesite vzorčne datoteke</font>
                                                </font>
                                            </a>
                                        </h5>
                                    </div>

                                    <div class="row text-center mt-3">
                                        <p>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Izvorna koda orodja je na voljo </font>
                                            </font><a href="https://gitlab.com/QuantiFarm/benchmarking-tool" target="_blank" class="fw-bold">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">tukaj</font>
                                                </font>
                                            </a>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> .</font>
                                            </font>
                                        </p>
                                    </div>
