                    <p>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Алат за праћење политика обезбеђује креаторима политике визуелну контролну таблу за праћење политика, омогућавајући генерисање аналитичких извештаја на основу упита, укључујући табеле са резимеом као и графичке табеле. Алат интегрише и приказује на регионалном нивоу (ЛАУ или комуна) податке изведене из анонимних и агрегираних информација на лицу места из 10 одабраних Квантифарм тест случајева. Ово укључује информације са парцела које користе дигиталне пољопривредне технологије (ДАТС), парцеле које не користе ДАТС, извозе календара фарме и дигиталне дневнике. Производи ЕО података (нпр. врста усева, коришћење земљишта ЕСА), отворени европски скупови ГИС података (нпр. ГИСЦО, ЕЕА) и отворени подаци из служби за праћење политике ЕУ (нпр. ФАДН, Еуростат) коришћени су као улазни подаци за израчунавање индикатора (КПИ), варијабли или постављање прагова за субјективна квалитативна и квантитативна поређења регионалног учинка у вези са политиком.</font>
                        </font>
                    </p>
                    <br><br>

                    <div class="row text-center">
                        <div class="col">
                            <a type="button" role="button" class="btn btn-primary" href="/pmt" target="_blank">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Отворите алатку за праћење политика</font>
                                </font>
                            </a>
                        </div>
                    </div>

                    <div class="row text-center">
                        <h5 class="card-title lh-lg">
                            <a href="downloads/Policy-monitoring-Tool-Manual.pdf" target="_blank">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Преузмите упутство за употребу</font>
                                </font>
                            </a>
                        </h5>
                    </div>

                    <div class="row text-center">
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Изворни код алата је доступан </font>
                            </font><a href="https://gitlab.com/QuantiFarm/policymonitoring-tool" target="_blank" class="fw-bold">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">овде</font>
                                </font>
                            </a>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"> .</font>
                            </font>
                        </p>
                    </div>
