                    <p>
                        Το «Εργαλείο υποστήριξης προηγμένων αποφάσεων» έχει ως στόχο να βοηθήσει τους συμβούλους στην καθοδήγηση των πελατών τους να επιλέξουν την κατάλληλη λύση ψηφιακής γεωργίας (DATS) για το αγρόκτημά τους, λαμβάνοντας υπόψη τις συγκεκριμένες ανάγκες, τους στρατηγικούς στόχους, τις προτιμήσεις τους, καθώς και το περιβάλλον στο οποίο δραστηριοποιούνται. Το εργαλείο σχεδιάστηκε για να αντιμετωπίσει ένα από τα βασικά εμπόδια στην υιοθέτηση λύσεων ψηφιακής γεωργίας, που είναι η έλλειψη γνώσης και αποδεικτικών στοιχείων σχετικά με τα (άμεσα και έμμεσα) πραγματικά οφέλη και το κόστος αυτών των τεχνολογιών<font style="vertical-align: inherit;">.</font>
                    </p>
                    <br><br>

                    <div class="row text-center">
                        <div class="col">
                            <a type="button" role="button" class="btn btn-primary" href="downloads/DATs Advanced Decision Support Tool v1.0.xlsx" download="">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Κατεβάστε το "Εργαλείο υποστήριξης προηγμένων αποφάσεων" (Διαθέσιμο μόνο στα Αγγλικά)</font>
                                </font>
                            </a>
                        </div>
                    </div>

                    <div class="row text-center">
                        <h5 class="card-title lh-lg">
                            <a href="downloads/Advanced-Decision-Support-Tool-Manual.pdf" target="_blank">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Κατεβάστε το εγχειρίδιο χρήστη (Διαθέσιμο μόνο στα Αγγλικά)</font>
                                </font>
                            </a>
                        </h5>
                    </div>

                    <div class="row text-center">
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Ο πηγαίος κώδικας του εργαλείου είναι διαθέσιμος </font>
                            </font><a href="https://gitlab.com/QuantiFarm/advanced-decision-support-for-dat-selection-tool" target="_blank" class="fw-bold">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">εδώ.</font>
                                </font>
                            </a>
                        </p>
                    </div>
